<div class="panel panel-primary emphasize-panel">
  <!-- <div class="panel-heading">
    <h3 class="panel-title center">
      <%= fa_icon "leaf", text: "List actions" %>
    </h3>
  </div> -->
  <div class="list-group center">
    <%= link_to "Download", "#", class:"list-group-item", id: "download-selected-species" %>
    
    <% if is_private %>
      <%= link_to "Edit", edit_list_path(list), class:"list-group-item" %>
    
      <% if list.dca_source? %>
        <% if !list.resource.publish? && !list.species_names.empty? %>
          <%= link_to "Publish", publish_dca_path(list.resource), class:"list-group-item" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% if is_private %>
  <div class="panel panel-danger emphasize-panel">
    <div class="list-group center">
  <!--https://stackoverflow.com/questions/711418/how-to-prevent-browser-page-caching-in-rails -->
      <%= link_to "Delete", list, class:"list-group-item list-group-item-danger", method: :delete, data: { confirm: "Click OK to delete this list" } %>
    </div>    
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
 
    $("#download-selected-species").click(function() {
      input_checked = $( ".species-cb-column").children("input:checked");
      data = {};
      data["species"] = []
      for (var i=0; i<input_checked.length; i++) {
        if ($(input_checked[i]).val() == "1" && 
            $(input_checked[i]).attr("id") != "species-toggle-all-cb" ) {
          data["species"].push($(input_checked[i]).attr('name').match(/\[(.*?)\]/g)[1].replace('[', '').replace(']', ''));
        }
      }
  
      submit("<%= download_list_path(1) %>", 'POST', data);
      return false;
    });
  
    function submit(action, method, values) {
      var form = $('<form/>', {
          action: action,
          method: method
      });
      $.each(values, function() {
          form.append($('<input/>', {
              type: 'hidden',
              name: "species",
              value: this
          }));    
      });
    
      form.append($('<input/>', {
        type: 'hidden',
        name: 'name',
        value: $('#file-name').val()
      }));
    
      form.appendTo('body').submit();
    }
  });
</script>