<div class="list-content-wrapper">
  <p class="list-title"><%= list_name %></p>
    
  <% if names.empty? %>

    <% extracted_names = list.extracted_names %>
    <% if extracted_names.empty? %>
      <% popularity = list.resource.popularity rescue false %>
      <% if popularity %>
        <% extracted = JSON.parse(list.extracted) rescue [] %>
        <%= render partial: "taxonomies/select", locals: {taxonomy: list.resource} %>
      <% else %>
        <p class="bg-danger">We could not extract any names from your provided resource</p>
        <p class="bg-danger">Please leave us a message in <%= link_to "feedback", static_pages_feedback_path %> so we can investigate your case further. We appreciate your help. </p>
      <% end %>
    <% else %>
      <p class="bg-danger">We extracted names from the source but taxon name resolution failed. Please try again in an hour, and if the problem persists, leave us <%= link_to "feedback", static_pages_feedback_path %>.</p>
    <% end %>
  <% else %>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#species_names" aria-controls="species_names" role="tab" data-toggle="tab" id="tab-name">
          <%= fa_icon "list-ol", text: "Species" %>
        </a>
      </li>
      <% unless unmatched_names.empty? %>
        <li role="presentation">
          <a href="#unmatched" aria-controls="metadata" role="tab" data-toggle="tab">
            <%= fa_icon "pencil-square-o", text: "Unmatched" %>
            <span class="badge"><%= unmatched_names.count %></span>
          </a>
        </li>
      <% end %>
      <li role="presentation">
        <a href="#taxon-matching" aria-controls="taxon-matching" role="tab" data-toggle="tab">
          <%= fa_icon "check-square-o", text: "Taxon matching" %>
        </a>
      </li>
      <li role="presentation">
        <a href="#metadata" aria-controls="metadata" role="tab" data-toggle="tab">
          <%= fa_icon "info", text: "List metadata" %>
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="species_names">
        <%= render partial: "species_names", locals: { names: names, list: list, tree: @tree } %>
        <!-- End of tab species names   -->
      </div>

      <% unless unmatched_names.empty? %>
        <div role="tabpanel" class="tab-pane" id="unmatched">
          <%= render partial: "unmatched_names", locals: { list: list, names: unmatched_names} %>
        </div>
        <!-- End of tab unmatched names   -->
      <% end %>
      
  
      <div role="tabpanel" class="tab-pane" id="taxon-matching">
        <%= render partial: "lists/taxon_matching", locals: { list: list, names: names } %>
      <!-- End of tab metadata   -->
      </div>
  
      <div role="tabpanel" class="tab-pane" id="metadata">
        <%= render partial: "lists/metadata", locals: { list: list } %>
      <!-- End of tab metadata   -->
      </div>
  
    <!-- End of tab panel -->
    </div>
  <% end %>
</div>