<% list_id = list['list']['list_id'] %>
<% list = List.new(id: list_id)%>
<% tree_form_id = "from-service-tree-form-#{list_id}" %>

<div class="panel-content-wrapper">
  <%= form_for [list, tree], html: { id: tree_form_id } do |f| %>
    <%= f.hidden_field :name, id: "tree-name-#{list_id}" %>

    <%= f.hidden_field :list_from_service, value: @from_service %>
    
    <p class="select-species-note"><em>* Click on a row to select or deselect species which you want to use for extracting tree</em></p>
    
    <table class="table table-hover">
      <thead> 
        <tr> 
          <th class="species-heading-row">#</th> 
          <th class="species-heading-row">
            Species
          </th> 
          <th class="species-heading-row">Common name</th> 
          <th class="species-cb-column species-heading-row center">
            Select
            <%= select_tag 'show', options_for_select([["all", 1], ["species only", 2], ["higher taxa only", 3], ["none", 4]], "all"), id: "show-names" %>
          </th> 
        </tr> 
      </thead>
      <tbody>
          <% names.each_with_index do |s, i| %>
            <% mark = /\s+/.match(s["scientific_name"]).nil? ? "higher-taxa" : "binominal" %>
            <tr class="species-row success <%= mark %>">
              <td class=""><%= i + 1 %></td>
              <% n = s["scientific_name"] %>
              <td class=""><em><%= n %></em></td>
              <td class=""><%= s["vernacular_name"] %></td>
              <td class="species-cb-column center">           
                <%= check_box_tag("tree[species][#{n}]", 1, true, class: "species-cb") %>
                <%= check_box_tag("tree[species][#{n}]", 0, false, class: "hidden") %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
    
    <div class="center sticky-btn-wrapper">
      <!-- Button trigger modal -->
      <a class="btn btn-lg btn-primary" data-toggle="modal" data-target="#give-tree-name" href="#">Extract tree</a>
    </div>
    
    <!--Modal -->
    <div class="modal fade" id="give-tree-name" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Please enter a name for the tree</h4>
          </div>
          <div class="modal-body">
              <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="modal-footer">
            <%= f.submit "Extract tree", class: "btn btn-lg btn-primary" %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--End modal -->
    
  <% end %>
</div>
  
<script type="text/javascript">
  $(".species-cb").click(function() {
    event.stopPropagation();
    if($(this).is(':checked')) {
      $(this).siblings("input[type='checkbox']").attr('checked', false);
      $(this).parents(".species-row").addClass("success");
    } else {          
      $(this).siblings("input[type='checkbox']").attr('checked', true);
      $(this).parents(".species-row").removeClass("success");
    }
  });
  
  $(".species-row").click(function(event) {
    $(this).find('.species-cb').click();
  });
  
  $('#show-names').change(function() {
    if( $(this).val() == 1 ) {
      for(i=0; i<$(".species-cb").length; i++) {
        if( !$($(".species-cb")[i]).is(':checked') ) {
          $($(".species-cb")[i]).click();
        }
      }
    } else if ( $(this).val() == 2 ) {
      for(i=0; i<$(".species-row.binominal").length; i++) {
        if( !$($(".species-row.binominal")[i]).hasClass("success") ) {
          $($(".species-row.binominal")[i]).click();
        }
      }
      $(".species-row.higher-taxa").find("input[type='checkbox']").attr('checked', false);
      $(".species-row.higher-taxa").removeClass("success");
    } else if ( $(this).val() == 3 ) {
      for(i=0; i<$(".species-row.higher-taxa").length; i++) {
        if( !$($(".species-row.higher-taxa")[i]).hasClass("success") ) {
          $($(".species-row.higher-taxa")[i]).click();
        }
      }
      $(".species-row.binominal").find("input[type='checkbox']").attr('checked', false);
      $(".species-row.binominal").removeClass("success");
    } else if ( $(this).val() == 4 ) {
      for(i=0; i<$(".species-cb").length; i++) {
        if( $($(".species-cb")[i]).is(':checked') ) {
          $($(".species-cb")[i]).click();
        }
      }
    }
  })
</script>