<% unless @my_lists.empty? %>
  <h2 class="list-category">
    <%= fa_icon "leaf", text: "My lists" %>
  </h2>
  <div class="table-wrapper list-name-table">
    <div class="table-scroll">  
      <div class="list-group">
        <% @my_lists.each do |l| %>
          <%= link_to truncate(l.name), list_path(id: l.id), remote: true, class:"list-group-item" %>
        <% end %>
      </div>
    </div>
  </div>  
<% end %>


<% unless @public_lists.empty? %>
  <h2 class="list-category">
    <%= fa_icon "leaf", text: "Public lists" %>
  </h2>

  <div class="table-wrapper list-name-table">
    <div class="table-scroll">  
      <div class="list-group">
        <% @public_lists.each do |l| %>
          <%= link_to truncate(l["list_title"]), list_path(from_service: true, id: l["list_id"]), remote: true, class:"list-group-item" %>      
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(".list-name-table .list-group-item").on("click", function() {
    $(".list-group-item").removeClass("active");
    $(this).addClass("active");
    $('#list-actions').html("");
    $('#list-content').html("<div class='center loading'><img src='<%= image_path("loading-icon.gif") %>'></div>");
  })
</script>