<div class="panel-content-wrapper">

  <table class="table table-hover">
    <!-- <caption>First Way</caption> -->
    <tr>
      <th>Description</th>
      <td><%= list.description %></td>
    </tr>
    <tr>
      <th>Resource</th>
      <td>
        <% case list.resource_type %>
        <% when "Dca" %>
          Darwin Core Archive (DwC-A)
        <% when "Onpl" %>
          One-name-per-line file
        <% else %>
          <%= list.resource_type %>
        <% end %>
      </td>
    </tr>
    
    <% if list.resource_type == "Dca" %>
      <tr>
        <th>Publish</th>
        <td>
          <% if list.resource.publish? %>
            <%= link_to "Online list", list_path(id: list.resource.publish_list_id, from_service: true )%>
          <% else %>
            no
          <% end %>
        </td>
      </tr>
    <% end %>
    
    <% if list.resource_type == "Taxonomy" %>
      <tr>
        <th>Subset</th>
        <td>
          <% if !list.resource.location.nil? %>
            Country: <%= list.resource.country.name %>
          <% elsif !list.resource.has_genome_in_ncbi.nil? %>
            Has genome in NCBI
          <% elsif !list.resource.quantity.nil? %>
            At random
          <% elsif !list.resource.popularity.nil? %>
            By popularity
          <% end %>
        </td>
      </tr>
    <% end %>
    
    <tr>
      <th>Created at</th>
      <td><%= list.created_at %></td>
    </tr>
    <tr>
      <th>Tree(s) associated with this list</th>
      <td>
        <ul>
          <% list.trees.each do |t|  %>
            <li><%= link_to t.name, t %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    
  </table>
</div>