<div id="new-list-wrapper">
  <div class="panel panel-primary emphasize-panel">
    <div class="panel-heading">
      <h3 class="panel-title center">
        <%= fa_icon "leaf", text: "New list" %>        
      </h3>
    </div>
    <div class="list-group center">
      <%= link_to "Extract from web", new_link_path, class:"list-group-item" %>
      <%= link_to "Extract from doc", new_document_path, class:"list-group-item" %>
      <%= link_to "Upload my list", new_onpl_path, class:"list-group-item" %>
      <%= link_to "Choose taxon", new_link_path, class:"list-group-item" %>
    </div>    
  </div>
</div>
