<%= form_for Tree.new(raw_extraction: ra) do |f| %>
  <%= f.hidden_field :raw_extraction_id %>
  <%= f.text_field :name, id: "hidden_tree_name_#{ra.id}", class: 'hide' %>

  <table class="table table-bordered table-hover chosing-species">
    <thead> 
      <tr> 
        <th class="species-heading-row">#</th> 
        <th class="species-heading-row">Species</th> 
        <th class="species-cb-column species-heading-row">
          Select/Deselect all<br>
          <%= check_box_tag("toggle", 1, false, id: "species-toggle-all-cb") %> 
        </th> 
      </tr> 
    </thead>
    <tbody>
        <% species.each_with_index do |e, i| %>
          <tr class="species-row success">
            <td class=""><%= i + 1 %></td>
            <td class=""><em><%= e %></em></td>
            <td class="species-cb-column">           
              <%= check_box_tag("tree[chosen_species][#{e}]", 1, true, class: "species-cb") %>
              <%= check_box_tag("tree[chosen_species][#{e}]", 0, false, class: "hidden") %>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>
<% end %>