<div class="panel-content-wrapper">

  <em>The list of query species was validated with &lt;TNRS&gt; prior to querying for a tree. This table shows how the query strings were mapped to validated taxon names. Names not listed in this table are not recognizable by taxon finder.</em>
  <hr>
  <table class="table table-hover">
    <thead> 
      <tr>
        <th class="">#</th>
        <th class="">Query</th> 
        <th class="">Matched name</th> 
        <th class="">Match</th> 
        <th class="">Synonyms</th>
      </tr> 
    </thead>
    <tbody>
      <% names.each_with_index do |r, i| %>
      
        <% r["matched_results"].each_with_index do |m, j| %>
          <tr class="species-row">

            <% n = m["matched_name"] %>
            <% if j == 0 %>
              <td class=""><%= i + 1 %></td>
            <% else %>
              <td></td>
            <% end %>
        
            <td><%= m["search_string"].to_s %></td>
            <td><em><%= n %></em></td>
            <td><%= m["match_type"] %>
            <td>           
              <% m["synonyms"].each do |s| %>
                <em><%= s %></em><br>
              <% end %>
            </td>
          </tr>
        <% end %>
        
      <% end %>
    </tbody>
  </table>
  
  <div class="center sticky-btn-wrapper">
    <%= link_to "Export as CSV", list_taxon_path(list, format: :csv), class: "btn-primary btn btn-lg", target: '_blank' %> 
  
    <%= link_to "Export as PDF", list_taxon_path(list, format: :pdf), class: "btn-primary btn btn-lg", target: '_blank' %>
  </div>
</div>