<% provide :title, "Home" %>

<div class="row content-wrapper">
  <div class="col-xs-3">
    <%= render partial: "list_name" %>
  </div>
  <div class="col-xs-7" id="list-content">
    <%= render partial: "welcome" %>
  </div>
  <div class="col-xs-2">
    <div id="list-actions">
    </div>

    <hr id="list-action-seperator" class="hide">

    <%= render partial: "new_list" %>
  </div>
</div>

<script type="text/javascript">
  <% if @from_service %>
    $('a[href="/lists/<%= params[:id] %>?from_service=true"]').click();
  <% else %>
    $('a[href="/lists/<%= params[:id] %>"]').click();
  <% end %>
</script>