<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    </head>
  <style>
    table {
      width: 100%;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
    }
    thead {
          display: table-header-group;
    }
    tr {
        page-break-inside: avoid;
    }
  </style>
  <body onload='number_pages'>
    <div id="header"  style="text-align: center;">
      <%= wicked_pdf_image_tag 'phylo-toolbox-logo-huge.png', width: 500 %>
    </div>
    <div id="content">
      <h3 style="text-align: center;">Taxon Matching Report</h3>
      
      <% if @from_service %>
      
        <% names = @list["list"]["list_species"] %>
        <table class="table table-hover">
          <thead> 
            <tr>
              <th class="">#</th>
              <th class="">Query</th> 
              <th class="">Matched name</th> 
              <th class="">Match</th> 
              <th class="">Synonyms</th>
            </tr> 
          </thead>
          <tbody>
            <% names.each_with_index do |r, i| %>
              <tr class="species-row">
                <td class=""><%= i + 1 %></td>
                <td class=""><%= r["scientific_name"] %></td>
                <td class=""><%= r["scientific_name"] %></td>
                <td class=""><%= r["scientific_name"] %></td>
                <td class=""><%= r["scientific_name"] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
      <% else %>

        <table class="">
          <thead>
            <tr>
              <th class="">#</th>
              <th class="">Query</th> 
              <th class="">Matched name</th> 
              <th class="">Match</th> 
              <th class="">Synonyms</th>
            </tr> 
          </thead>
          <tbody>
            <% @resolved_names.each_with_index do |r, i| %>
              <% r["matched_results"].each_with_index do |m, j| %>
                <tr class="species-row">

                  <% n = m["matched_name"] %>
                  <% if j == 0 %>
                    <td class=""><%= i + 1 %></td>
                  <% else %>
                    <td></td>
                  <% end %>
        
                  <td><%= m["search_string"].to_s %></td>
                  <td><em><%= n %></em></td>
                  <td><%= m["match_type"] %>
                  <td>           
                    <% m["synonyms"].each do |s| %>
                      <em><%= s %></em><br>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        
      <% end %>
      
    </div>
  </body>
</html>


