<% flag = false %>
<% if user_signed_in? %>
  <% if current_user == tree.user %>
    <% flag = true %>
  <% end %>
<% else %>
  <% if tree.temp_id == cookies[:temp_id] %>
    <% flag = true %>
  <% end %>
<% end %>

<% if flag %>
  <div class="tree-settings">
    <div class="boxed-group" style="margin-top: 15px;">
      <h3>Features</h3>
      <div class="boxed-group-inner">
        <%= form_for tree, remote: true do |f| %>
          <div class="row">
            <%= f.label :name, class: "col-sm-3 " %>
            <div class="col-sm-9">
              <%= f.text_field :name, value: tree.name, class: "form-control" %>
            </div>
          </div>
          <hr class="bleed-flush"></hr>
          <div class="row" style="margin-top: 20px;">
            <%= f.label :public, class: "col-sm-3" %>
            <div class="col-sm-9">
              <% if tree.public %>
                <div class="col-sm-3">
                  True: <%= f.radio_button("public", "true", checked: true) %>
                </div>
                <div class="col-sm-3">
                  False: <%= f.radio_button("public", "false") %>
                </div>
              <% else %>
                <div class="col-sm-3">
                  True: <%= f.radio_button("public", "true") %>
                </div>
                <div class="col-sm-3">
                  False: <%= f.radio_button("public", "false", checked: true) %>
                </div>
              <% end %>
            </div>
          </div>
          <hr class="bleed-flush"></hr>
          <%= f.submit "Update", class:"btn btn-default" %>
        <% end %>
      </div>
    </div>
      
    <div class="boxed-group dangerzone">
      <h3>Danger option</h3>
      <div class="boxed-group-inner">
        <div class="row">
          <div class="col-md-8">Once this tree is deleted, there is no way to retrieve it back.</div>
          <div class="col-md-4">
            <%= form_for(tree, html: { method: :delete }) do |f| %>
              <%= f.submit "Delete this tree", data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

  <%= form_for tree, url: { action: "update" }, remote: true, html: {id: "tree_state_form", class: "hide"} do |f| %>
    <%= f.hidden_field :action_sequence, id: "tree_state" %><br />
  <% end %>
  <!-- <button id="save_tree_state_btn" class="btn btn-primary">Save tree state</button> -->
  <!-- <% unless tree.action_sequence.nil? %> -->
    <!-- <%= link_to "Load tree state", tree_path(tree.id, last_state: true), remote: true,  class:"btn btn-primary" %> -->
  <!-- <% end %> -->
  

<script>
$(document).ready(function() {
  
  $('#show_ott').change(function() {
    if($(this).is(':checked')) {
      $('#tree-in-string-format').val("<%= non_san_newick %>");
      $('#save-tree-text').html('<%= link_to "Save", newick_trees_path(format: :txt, id: tree.id, ott: true), class: "btn btn-primary" %>');
    } else {
      $('#tree-in-string-format').val("<%= tree_newick %>");
      $('#save-tree-text').html('<%= link_to "Save", newick_trees_path(format: :txt, id: tree.id, ott: false), class: "btn btn-primary" %>');   
    }
  })
  
  
})

</script>
