<table class="table table-hover">
    <tbody>
    <tr>
      <th>Topology ID</th>
      <td><%= tree_metadata["topology_id"] rescue "NA" %></td>
    </tr>
    <tr>
      <th>Gene or species</th>
      <td><%= tree_metadata["gene_or_species"] rescue "NA" %></td>
    </tr>
    <tr>
      <th>Rooted</th>
      <td><%= tree_metadata["rooted"] rescue "NA" %></td>
    </tr>
    <tr>
      <th>Anastomosing</th>
      <td><%= tree_metadata["anastomosing"] rescue "NA" %></td>
    </tr>
    <tr>
      <th>Consensus type</th>
      <td><%= tree_metadata["consensus_type"] rescue "NA" %></td>
    </tr>
    <tr>
      <th>Branch length type</th>
      <td><%= tree_metadata["branch_length_type"] rescue "NA" %></td>
    </tr>
    <tr>
      <th>Branch support type</th>
      <td><%= tree_metadata["branch_support_type"] rescue "NA" %></td>
    </tr>
    <tr>
      <th>Character matrix</th>
      <td><%= tree_metadata["character_matrix"] rescue "NA" %></td>
    </tr>
    <tr>
      <th>Alignment method</th>
      <td><%= tree_metadata["alignment_method"] rescue "NA" %></td>
    </tr>
    <tr>
      <th>Inference method</th>
      <td><%= tree_metadata["inference_method"] rescue "NA" %></td>
    </tr>
    <tr>
      <th>Number of tips</th>
      <td><%= tree_metadata["num_tips"] rescue "NA" %></td>
    </tr>
    <tr>
      <th>Creation time</th>
      <td><%= tree["creation_time"] rescue "NA" %></td>
    </tr>
  </tbody>
</table>