<a href="#" class="list-group-item" id="job-in-nav-<%= job_class %>-<%= job_id %>">
    <span class="hide"><span class="glyphicon glyphicon-bell" id="
      <% tree_ids.each do |t| %>
        for-tree-<%= t %> 
      <% end %>"
     aria-hidden="true"></span></span>
  <span class="job-title"><%= truncate(job_title, length: 35) %></span>
  <% if tree_ids.length != 0 %>
    <span class="badge"><%= tree_ids.length %></span>
  <% end %>
</a>