<% flag = false %>
<% if user_signed_in? %>
  <% if current_user == tree.user %>
    <% flag = true %>
  <% end %>
<% else %>
  <% if tree.raw_extraction.temp_id == cookies[:temp_id] %>
    <% flag = true %>
  <% end %>
<% end %>
    

<!-- Button trigger modal -->
<div style="display: inline-block;">
  <div class="dropdown" style="display: inline-block;">
    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-bottom: 7px;">
      Tree
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to "Revert to original", tree_path(tree.id), remote: true %></li>
      
      
      <% if flag %>
        <li class=""><a class="" data-toggle="modal" data-target="#edit-tree-name-modal-<%= tree.id %>" href="#">Settings</a></li>
        <li role="separator" class="divider"></li>
        <li class="">
          <a class="delete-link" href="#" id="delete-tree-trigger-<%= tree.id %>">Delete</a>
          <%= form_for(tree, html: { method: :delete, class: "hide" }) do |f| %>
            <%= f.submit "Delete this tree", id: "delete-tree-submit-#{tree.id}", data: { confirm: 'Are you sure?' } %>
          <% end %>
        </li>
      <% end %>
      
      
    </ul>
  </div>
  
  
</div>
 

<% if flag %>
  <!-- Modal -->
  <div class="modal fade" id="edit-tree-name-modal-<%= tree.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <%= form_for tree, remote: true do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Tree settings</h4>
        </div>
        <div class="modal-body">
            <div class="row">
              <%= f.label :name, class: "col-sm-3" %>
              <div class="col-sm-9">
                <%= f.text_field :name, value: tree.name, class: "form-control" %>
              </div>
            </div>
            <div class="row" style="margin-top: 20px;">
              <%= f.label :public, class: "col-sm-3" %>
              <div class="col-sm-9">
                <% if tree.public %>
                  <div class="col-sm-3">
                    True: <%= f.radio_button("public", "true", checked: true) %>
                  </div>
                  <div class="col-sm-3">
                    False: <%= f.radio_button("public", "false") %>
                  </div>
                <% else %>
                  <div class="col-sm-3">
                    True: <%= f.radio_button("public", "true") %>
                  </div>
                  <div class="col-sm-3">
                    False: <%= f.radio_button("public", "false", checked: true) %>
                  </div>
                <% end %>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Change", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  
  <%= form_for tree, url: { action: "update" }, remote: true, html: {id: "tree_state_form", class: "hide"} do |f| %>
    <%= f.hidden_field :action_sequence, id: "tree_state" %><br />
  <% end %>
  <!-- <button id="save_tree_state_btn" class="btn btn-primary">Save tree state</button> -->
  <!-- <% unless tree.action_sequence.nil? %> -->
    <!-- <%= link_to "Load tree state", tree_path(tree.id, last_state: true), remote: true,  class:"btn btn-primary" %> -->
  <!-- <% end %> -->
  
<% end %>

<script>
$(document).ready(function() {
  
  $('#show_ott').change(function() {
    if($(this).is(':checked')) {
      $('#tree-in-string-format').val("<%= non_san_newick %>");
      $('#save-tree-text').html('<%= link_to "Save", newick_trees_path(format: :txt, id: tree.id, ott: true), class: "btn btn-primary" %>');
    } else {
      $('#tree-in-string-format').val("<%= tree_newick %>");
      $('#save-tree-text').html('<%= link_to "Save", newick_trees_path(format: :txt, id: tree.id, ott: false), class: "btn btn-primary" %>');   
    }
  })
  
  $('#delete-tree-trigger-<%= tree.id %>').click(function() {
    $('#delete-tree-submit-<%= tree.id %>').click();
  })
  
})

</script>
