<table class="table table-striped table-bordered job-table">
  <thead> 
    <tr>
      <th>Uploaded File</th>
      <th>List name</th>
      <th>Publicly Available</th>
      <th>Tree constructed from content of list</th>
      <th>Available Action</th>
    </tr> 
  </thead>
  <tbody>
    <% @prebuilt_jobs.each do |p| %>
      <% ul = UploadedList.find_by_lid(p["list_id"]) %>
      <% next if ul.nil? %>
      <tr>
        <td><%= File.basename(ul.file.path) %></td>
        <td>
          <%= p["list_title"] %>
        </td>
        <td>
          <%= ul.public %>
        </td>
        <td>
          <%= render partial: "trees/trees_of_job", locals: {j: ul} %>          
        </td>
        <td>
          <%= link_to "Create new tree", uploaded_list_path(id: p["list_id"]), class: "btn btn-primary btn-block" %>
          <%= link_to "Remove", uploaded_list_path(ul.id), method: :delete, class: "btn btn-danger btn-block", data: {confirm: "Removing a job will also delete all trees belonging to that job. Are you sure?"} %><br>
        </td>
      </tr>
    <% end %>
    
    <% @prebuilt_public_lists.each do |ul| %>
      <tr>
        <td><%= File.basename(ul.file.path) %></td>
        <td>
          <% l = get_a_list(ul.lid) %>
          <%= l["list_title"] %>
        </td>
        <td>
          <%= ul.public %>
        </td>
        <td>
          <%= render partial: "trees/trees_of_job", locals: {j: ul} %>          
        </td>
        <td>
          <%= link_to "Create new tree", uploaded_list_path(id: l["list_id"]), class: "btn btn-primary btn-block" %>
          <%= form_for(current_user.user_list_relationships.find_by(uploaded_list_id: ul.id), html: { method: :delete }) do |f| %>
            <%= f.submit "Remove", class: "btn btn-danger btn-block", style: "margin-top: 5px;", data: { confirm: "Removing a job will also delete all trees belonging to that job. Are you sure?" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
    
    <% @prebuilt_jobs_failed.each do |p| %>
      <tr>
        <td>
          <%= File.basename(p.file.path) %>
        </td>
        <td>
        </td>
        <td>
          <%= p.public %>
        </td>
        <td>
          <p>Importing error! Please check again your file content.</p> 
        </td>
        <td>
          <%= link_to "Re-upload", "#", "data-toggle": "modal", "data-target": "#reup-#{p.id}", class: "btn btn-primary btn-block" %>
          <%= link_to "Remove", uploaded_list_path(p.id), method: :delete, class: "btn btn-danger btn-block", data: {confirm: "Removing a job will also delete all trees belonging to that job. Are you sure?"} %><br>
        </td>
      </tr>
      <div class="modal fade" id="reup-<%= p.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header"> 
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> 
              <h3 class="modal-title center" id="myModalLabel">Re-upload</h3>
            </div>
            <%= form_for p, url: uploaded_list_path(p.id), method: :patch, html: { multipart: true } do |f| %>
              <div class="modal-body">
                <div class="form-group">
                  <%= f.file_field :file, class: "input-file" %>
                  <div>Note: please compress your files in one ZIP file. You can find a default template <%= link_to "here", "https://drive.google.com/file/d/0B7SKJwE3SsCsNUhYQWdEVzk2RFE/view?usp=sharing"%></div>
      
                  <%= f.label :public do %>
                    <%= f.check_box :public, class: "input-file" %>
                    Allow others to watch this list
                  <% end %>
      
                </div>
              </div>
              <div class="modal-footer"> 
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
                <%= f.submit "Submit my list", class: "btn btn-default btn-primary btn-block" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </tbody>
</table>

