<% jobs.each do |j| %>
  <% ul = UploadedList.find_by_lid(j["list_id"]) %>
  <div id="job-content-<%= ul.class.name %>-<%= ul.id %>" class="hide">
    <table class="table">
      <tr>
        <th>List title</th>
        <td><%= j["list_title"] %></td>
      </tr>
      <tr>
        <th>File</th>
        <th><%= ul.file.original_filename %></th>
      </tr>
        <th>Created at</th>
        <td><%= ul.created_at %></td>
      </tr>
      <tr>
        <th>Modified at</th>
        <td><%= ul.updated_at %></td>
      </tr>
      <tr>
        <th>Available Action</th>
        <td>
            <%= link_to "View species of list", uploaded_list_path(id: j["list_id"]), class: "btn btn-primary" %>
            <%= link_to "Remove", uploaded_list_path(ul.id), method: :delete, class: "btn btn-danger", data: {confirm: "Removing a job will also delete all trees belonging to that job. Are you sure?"} %>
        </td>
      </tr>
    </table>
    
    <% if type != 3 %>
      <%= render partial: "trees/trees_of_job", locals: {j: ul} %>
    <% end %>
  </div>
<% end %>
