<% pj.each do |j| %>
  <% case type %>
  <% when 1 %>
    <% ul = UploadedList.find_by_lid(j["list_id"]) %>
  <% when 2, 3 %>
    <% ul = j %>
  <% end %>
  
  <a href="#" class="list-group-item" id="job-in-nav-UploadedList-<%= ul.id %>">
    <% if ul.raw_extraction.nil? %>
      <span class="job-title"><%= truncate(ul.file.original_filename, length: 40) %></span>
      <span class="badge" style="background-color: #d9534f;">Error</span>
    <% elsif ul.raw_extraction.trees.count != 0 %>
      <span class="job-title"><%= truncate(j["list_title"], length: 40) %></span>
      <span class="badge"><%= ul.raw_extraction.trees.count %></span>
    <% else %>
      <span class="job-title"><%= truncate(j["list_title"], length: 40) %></span>
    <% end %>
  </a>
<% end %>