<div class="slider-for-each row">
  <div class="col-md-4 col-sm-5">
    <table class="table">
      <tbody> 
        <tr>
          <th>Source</th>
          <td>          
            <% begin %>
              <% source = t.raw_extraction.contributable %>
              <% case source %>
              <% when ConLink %>
                <%= "URI: #{source.uri}" %>
              <% when ConFile %>
                <%= "File: #{source.document.original_filename}" %>
              <% when ConTaxon %>
                <% case source.specific %>
                <% when SelectionTaxon %>
                  <%= "Taxon: #{source.name}" %><br>
                  <%= "Number of species: #{source.nb_species}" %><br>
                  <%= "By: #{source.criterion}" %>
                <% when SubsetTaxon %>
                  <%= "Taxon: #{source.name}" %><br>
                  <%= "Has genome in NCBI: #{source.has_genome_in_ncbi}" %><br>
                  <%= "In country: #{source.country.name}" %>
                <% else %>
                  <%= "Taxon: #{source.name}" %>
                <% end %>
              <% end %>
            <% rescue %>
              <%= "" %>
            <% end %>
          </td> 
        </tr>
        <tr> 
          <th>Description</th>
          <td><%= t.description %></td> 
        </tr>
        <tr>
          <th>Creator</th>
          <td><%= t.user.name %></td>
        </tr>
        <tr>
          <th>Created at</th>
          <td><%= t.created_at %></td>
        </tr>
        <tr>
          <th>Updated at</th>
          <td><%= t.updated_at %></td>
        </tr>
      </tbody>
    </table>
    <%= link_to "Play with this tree", tree_path(t.id), class: "btn btn-default" %>
  </div>
  <div class="col-md-8 col-sm-7">
    <% if t.image.exists? %>
      <div style="background: url(<%= photo %>) no-repeat center; width: 600px; height: 450px; border-radius: 5%; background-size: contain; margin: 0 auto;"></div>
    <% else %>
      <div style="background: url(<%= '/assets/' + photo %>) no-repeat center; width: 600px; height: 450px; border-radius: 5%; background-size: contain; margin: 0 auto;"></div>
    <% end %>
  </div>
</div>