<% if tree_metadata.empty? || tree_metadata["studies"].empty? %>
  <p>No supporting studies were found. This typically happens when a tree is derived from the OpenTree taxonomy without phylogenetic refinement.</p>
<% else %>

  <span class="checkbox-wrapper">  
    <%= check_box_tag("select_all", 1, checked = false, id: "select_all_pub") %> 
  </span>
  <a id="show-citation-button" href="#" data-toggle="modal" data-target="#citation">Show citations for selected studies</a>
  <hr>
  
  <%= form_tag trees_download_studies_path, method: :post, remote: true do %>
    <% tree_metadata["studies"].each_with_index do |s, i| %>
      <div class="study">
        <div class="study-title">
          <div class="checkbox-wrapper">  
            <%= check_box_tag("p[#{s["PublicationDOI"]}]", 1, checked = false, class: "select_pub") %>
          </div>
          <%= s["Publication"] %>
        </div>
        <div class="study-info">
          <div class="row">
            <div class="col-md-2">
              <span class="small"><%= link_to "Read paper", s["PublicationDOI"], target: "_blank" %></span>
            </div>
            <div class="col-md-2">
              <span class="small"><%= link_to "View OT tree", Rails.configuration.x.ot_tree_uri + s["PublicationIdentifier"], target: "_blank" %></span>
            </div>
            <div class="text-right">
              <span class="small">Curator: <%= [s["Curator"]].flatten.join(", ") %></span>
            </div>
          </div>
        </div>
        <hr>
      </div>
    <% end %>
    <%= submit_tag "", class: "hide", id: "studies-form-submit" %>
    
  <% end %>
<% end %>

<!-- Modal -->
<div class="modal fade" id="citation" tabindex="-1" role="dialog" aria-labelledby="citationModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="citationModal">Citations</h4>
      </div>
      <div class="modal-body" id="citation-modal-content">
        <div class='center loading w-100'><i class="fa fa-spin fa-2x fa-spinner" aria-hidden="true"></i></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a type="button" class="btn btn-primary" download="citation.txt" id="citation-download">Save</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#show-citation-button").click(function() {
    $('#citation-modal-content').html('<div class="center loading w-100"><i class="fa fa-spin fa-2x fa-spinner" aria-hidden="true"></i></div>');
    $('#studies-form-submit').submit();
  });
  
  $("#select_all_pub").click(function() {
    if($("#select_all_pub").is(':checked')) {
      $('.select_pub').prop('checked', true);
    } else {
      $('.select_pub').prop('checked', false);
    }
  });
  
  $("#citation-download").click(function() {
    console.log("aaa");
    this.href = "data:text/plain;charset=UTF-8," + $('#citation-modal-content').text();
  });
</script>