<div id="name-matching-report">
  <button type="button" class="btn btn-default" data-toggle="modal" data-target=".name-matching-report-modal">Show report on name matching</button>
</div>
<div class="modal fade name-matching-report-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header"> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> 
        <h3 class="modal-title center" id="myModalLabel">Taxon Matching Report</h3>
        <em>The list of query species was validated with &lt;TNRS&gt; prior to querying for a tree. This table shows how the query strings were mapped to validated taxon names</em>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead> 
            <tr>
              <th class="">#</th>
              <th class="">Query</th> 
              <th class="">Matched name</th> 
              <th class="">Match</th> 
              <th class="">Synonyms</th>
            </tr> 
          </thead>
          <tbody>
            <% resolved_names.each_with_index do |r, i| %>
              <tr class="species-row">
                <td class=""><%= i + 1 %></td>
                <td class=""><%= r["search_string"] %></td>
                <td class=""><%= r["matched_name"] %></td>
                <td class=""><%= r["match_type"] %></td>
                <td class="">
                  <% r["synonyms"].each do |s| %>
                    <%= s %><br>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <%= link_to "Export as PDF", taxon_matching_report_trees_path(format: :pdf, ra: ra.id), class: "btn-primary btn btn-default" %> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
      </div>
    </div>
  </div>
</div>