<% tree_newick = sanitize_newick(tree) %>
<% non_san_newick = JSON.parse(tree.representation)['newick'] %>

<div class="row">
  <div id="tree-in-newick"></div>
  
  <div id='popup'></div>
  <div class="row tree-wrapper well">
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-2">
          <input type="checkbox" id="internal" class="custom-tree-fields">
        </div>
        <div class="col-sm-10" data-toggle="tooltip" data-placement="bottom" title="Show taxon names associated with internal nodes">iNode labels</div>
      </div>
      
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-2">
          <input type="checkbox" id="ladderize" class="custom-tree-fields">
        </div>
        <div class="col-sm-10" data-toggle="tooltip" data-placement="bottom" title="Rotate nodes to maximize asymmetry (this usually makes the tree easier to read)">Ladderize Tree</div>
      </div>
      <!-- <div class="row">
        <div class="col-md-6">Show branch length: </div>
        <div class="col-md-6">
          <input type="checkbox" id="branch">
        </div>
      </div> -->
      <input type="hidden" id="topOffset" value="">
      <input type="hidden" id="leftOffset" value="">
      <input type="submit" value="Apply" class="btn btn-primary hide" id="apply-customization">
    </div>
    
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-5">Line weight:</div>
        <div class="col-sm-4">
          <select name="lwidth" id="line-weight" class="form-control custom-tree-fields">
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-5">Line Color:</div>
        <div class="col-sm-7">
          <input type="text" id="line-color" name="color" value="" size="20"  class="form-control custom-tree-fields">
        </div>
      </div>  
    </div>
    
    <div class="col-sm-3" style="text-align: right;">
      <div id="tree_image_message"></div>
      <div style="display: inline-block;">
        <button class="btn btn-default pull-right" onclick="load_tip_images();">Load all images</button>
      </div>
      
      <!-- Button dropdown -->
      <div class="dropdown" style="text-align: right;">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-bottom: 7px;">
          Export as
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#" data-toggle="modal" data-target="#show-tree-format">text</a></li>
          <li><a href="#" data-toggle="modal" data-target="#show-tree-image">image</a></li>
        </ul>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="show-tree-format" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <textarea style="word-break: break-all; min-height: 300px;" id="tree-in-string-format" class="form-control"><%= tree_newick %></textarea>
              <div style="text-align: right; margin-top: 10px;">
                <div style="display: inline; margin-right: 20px;">
                  <%= check_box_tag 'show_ott', '1' %> 
                </div> 
                <span data-toggle="tooltip" data-placement="top" title="Include the IDs used internally by the OpenTree project" id="copy-to-clipboard">Show OTT ids</span>
              </div>
            </div>
            <div class="modal-footer">
              <div class="btn-group" role="group" aria-label="...">
                <div class="btn-wrapper">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <div class="btn-wrapper" id="save-tree-text">
                  <%= link_to "Save", newick_trees_path(format: :txt, id: tree.id, ott: false), class: "btn btn-primary" %> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="show-tree-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <p><em>* Disable popup blocker in this brower to be redirected to image </em></p>
            </div>
            <div class="modal-body">
          
              <div class="row">
                <div class="col-md-3">Image format: </div>
                <div class="col-md-9">
                  <input type="radio" name="format" value="png" checked="checked">png
                  <input type="radio" name="format" value="svg">svg
                  <a href="#" onclick="save_tree_image();" class="btn btn-primary">Generate link to download</a>
                  <div id="svg_image" class=""></div>
                </div>
              </div>
          
            </div>
            <div class="modal-footer">
              <div class="btn-wrapper">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
        
          </div>
        </div>
      </div>
      
    </div>
    
    <div class="col-sm-3">
      <div id="tree-navigation">
        <!-- <h4 class="center" id="tree-actions">Tree actions</h4> -->
        <%= render partial: "permission_tree_nav", locals: { tree: tree, tree_newick: tree_newick, non_san_newick: non_san_newick } %>
    
        <!-- End of tree-navigation -->
      </div>
    </div>
    
  </div>
  <div id='img1' class="ete_image"></div>


  <div>
    <div class="pull-right" style="font-size: 80%;">
      Last edited: <%= time_ago_in_words(tree.updated_at) %> by <%= link_to tree.user.name, '#' %>
    </div>
  </div>
  
</div>

<div class="modal fade" id="tree-hint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        Click on a name or a node to see viewer options. More info is available in the "Tree Viewer" section of Help.
      </div>
      <div class="modal-footer">
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-wrapper">
            <button type="button" class="btn btn-default btn-primary" data-dismiss="modal" id="gotit">Got it</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tree-rendering-failed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        Sorry! We got a tree (click "Export") but there was an error trying to view it. Try another tree, and use "Feedback" to report any errors.
      </div>
      <div class="modal-footer">
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-wrapper">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= link_to "Feedback", static_pages_feedback_path, class: "btn btn-default btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tree-updated" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        Tree information updated
      </div>
      <div class="modal-footer">
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-wrapper">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  try {
    topOffset = $("#img1").offset().top - $($(".container")[1]).offset().top - $($(".list-selection")[0]).offset().top;
    leftOffset = $("#img1").offset().left;
    // console.log(topOffset, leftOffset);
    get_tree_image("<%= @id %>" , "<%= tree_newick %>", "#img1", topOffset, leftOffset);
    $("#topOffset").val(topOffset);
    $("#leftOffset").val(leftOffset);
  }
  catch(err) {
    $('#tree-rendering-failed').modal();
  }
  
  // console.log(typeof($.cookie("view_hint")));
  //console.log($.cookie("view_hint") == "true");
  
  if($.cookie("view_hint") == "true") {        
    $('#tree-hint').modal();
  }
  $("#gotit").click(function() {
    $.cookie("view_hint", "false");
  });
  
  $('[data-toggle="tooltip"]').tooltip(); 
    
  $('#apply-customization').click(function() {
    run_tree_action();
  })
  
  $('.custom-tree-fields').change(function() {
    $('#apply-customization').click();
  })
  <% if user_signed_in? %>
    $( window ).on('beforeunload', function() {
      if(tree_state_changed) {
        save_tree_state();
      }
    })
  <% end %>
})

</script>