<% tree_newick = sanitize_newick(tree) %>
<% non_san_newick = JSON.parse(tree.representation)['newick'] %>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#tree-viewer" aria-controls="tree-viewer" role="tab" data-toggle="tab" id="tab-name"><i class="fa fa-pagelines" aria-hidden="true"></i>Tree</a></li>
  <li role="presentation"><a href="#metadata" aria-controls="metadata" role="tab" data-toggle="tab"><i class="fa fa-info-circle" aria-hidden="true"></i>Metadata</a></li>
  <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="tree-viewer">
    <div>
      <div id="tree-in-newick"></div>
  
      <div id='popup'></div>
  
      <div id="tree-navigation">
        <!-- Modal -->
        <div class="modal fade" id="show-tree-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p><em>* Disable popup blocker in this brower to be redirected to image </em></p>
              </div>
              <div class="modal-body">
        
                <div class="row">
                  <div class="col-md-3">Image format: </div>
                  <div class="col-md-9">
                    <input type="radio" name="format" value="png" checked="checked">png
                    <input type="radio" name="format" value="svg">svg
                    <a href="#" onclick="save_tree_image();" class="btn btn-primary">Generate link to download</a>
                    <div id="svg_image" class=""></div>
                  </div>
                </div>
        
              </div>
              <div class="modal-footer">
                <div class="btn-wrapper">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
      
            </div>
          </div>
        </div>
    
        <!-- End of tree-navigation -->
      </div>
  
      <div class="tree-options-wrapper">
        <div class="tree-view-options">
          <span class="cb-tree-viewer">
            <input type="checkbox" id="internal" class="custom-tree-fields">
          </span>
          <span>
            <span data-toggle="tooltip" data-placement="bottom" title="Show taxon names associated with internal nodes">iNode labels</span>
          </span>
        </div>
    
        <div class="tree-view-options">
          <span class="cb-tree-viewer">
            <input type="checkbox" id="ladderize" class="custom-tree-fields">
          </span>
          <span>
            <span data-toggle="tooltip" data-placement="bottom" title="Rotate nodes to maximize asymmetry (this usually makes the tree easier to read)">Ladderize Tree</span>
          </span>
        </div>
        <!-- <div class="row">
          <div class="col-md-6">Show branch length: </div>
          <div class="col-md-6">
            <input type="checkbox" id="branch">
          </div>
        </div> -->
        <input type="hidden" id="topOffset" value="">
        <input type="hidden" id="leftOffset" value="">
        <input type="submit" value="Apply" class="btn btn-primary hide" id="apply-customization">
  
        <div class="tree-view-options">
          <span>Line weight:</span>
          <span>
            <select name="lwidth" id="line-weight" class="custom-tree-fields">
              <option value="1" selected="selected">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </span>
        </div>
    
        <div class="tree-view-options">
          <span>Line Color:</span>
          <span>
            <input type="hidden" id="line-color" name="color" value="" size="7"  class="custom-tree-fields">
          </span>
        </div>
        
        <div class="tree-view-options">
          <button class="btn btn-default" onclick="load_tip_images();">Load all images</button>
          <span id="tree_image_message"></span>
        </div>
        
        <div class="tree-view-options">
          <%= link_to "Revert", tree_path(tree.id), remote: true, class: "btn btn-default" %>
        </div>
        
        <div class="tree-view-options">
          <!-- Button dropdown -->
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Export as
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" data-toggle="modal" data-target="#show-tree-format">Text</a></li>
              <li><a href="#" data-toggle="modal" data-target="#show-tree-image">Image</a></li>
            </ul>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="show-tree-format" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <textarea style="word-break: break-all; min-height: 300px;" id="tree-in-string-format" class="form-control"><%= tree_newick %></textarea>
                  <div style="text-align: right; margin-top: 10px;">
                    <div style="display: inline; margin-right: 20px;">
                      <%= check_box_tag 'show_ott', '1' %> 
                    </div> 
                    <span data-toggle="tooltip" data-placement="top" title="Include the IDs used internally by the OpenTree project" id="copy-to-clipboard">Show OTT ids</span>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="btn-group" role="group" aria-label="...">
                    <div class="btn-wrapper">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <div class="btn-wrapper" id="save-tree-text">
                      <%= link_to "Save", newick_trees_path(format: :txt, id: tree.id, ott: false), class: "btn btn-primary" %> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>
      <div id='img1' class="ete_image"></div>


      <div>
        <div class="pull-right" style="font-size: 80%;">
          Last edited: <%= time_ago_in_words(tree.updated_at) %> by <%= link_to tree.user.name, '#' %>
        </div>
      </div>
  
    </div>
  <!-- End of tree content tab -->
  </div>
  
  <div role="tabpanel" class="tab-pane" id="metadata">
  <!-- End of tab metadata   -->
  </div>
  
  <div role="tabpanel" class="tab-pane" id="settings">
    <%= render partial: "permission_tree_nav", locals: { tree: tree, tree_newick: tree_newick, non_san_newick: non_san_newick } %>
  <!-- End of tab settings   -->
  </div>
<!-- End of tab panel -->
</div>


<div class="modal fade" id="tree-hint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        Click on a name or a node to see viewer options. More info is available in the "Tree Viewer" section of Help.
      </div>
      <div class="modal-footer">
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-wrapper">
            <button type="button" class="btn btn-default btn-primary" data-dismiss="modal" id="gotit">Got it</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tree-rendering-failed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        Sorry! We got a tree (click "Export") but there was an error trying to view it. Try another tree, and use "Feedback" to report any errors.
      </div>
      <div class="modal-footer">
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-wrapper">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= link_to "Feedback", static_pages_feedback_path, class: "btn btn-default btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tree-updated" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        Tree information updated
      </div>
      <div class="modal-footer">
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-wrapper">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $('[data-toggle="tooltip"]').tooltip(); 
  
  try {
    topOffset = $("#img1").offset().top - $($(".container")[1]).offset().top - $('.nav-tabs').offset().top;
    leftOffset = $("#img1").offset().left;
    // console.log(topOffset, leftOffset);
    get_tree_image("<%= @id %>" , "<%= tree_newick %>", "#img1", topOffset, leftOffset);
    $("#topOffset").val(topOffset);
    $("#leftOffset").val(leftOffset);
  }
  catch(err) {
    console.log(err);
    $('#tree-rendering-failed').modal();
  }
  
  // console.log(typeof($.cookie("view_hint")));
  //console.log($.cookie("view_hint") == "true");
  
  if($.cookie("view_hint") == "true") {        
    $('#tree-hint').modal();
  }
  $("#gotit").click(function() {
    $.cookie("view_hint", "false");
  });
    
  $('#apply-customization').click(function() {
    run_tree_action();
  })
  
  $('.custom-tree-fields').change(function() {
    $('#apply-customization').click();
  })
  
  $( window ).on('beforeunload', function() {
    <% if user_signed_in? %>
      if(tree_state_changed) {
        save_tree_state();
      }
    <% end %>
  })
})

</script>