<div class="row">
  <%= form_for tree, html: { class: "form-horizontal" } do |f| %>
  <div class="col-md-4">
    <h2>Choose settings below to get a tree for your list of species</h2>
      <%= render 'shared/error_messages', object: f.object %>
      <p>1. Prune your list as desired using the table at right</p>
      <p>2. Choose source of trees</p>
      <div class="form-group left-indent">
        <% if tree.phylo_source.nil? %>
          <%= select "tree", "phylo_source_id", options_for_select(phylo_sources_for_select), {}, { class: "form-control" } %>
        <% else %>
          <%= select "tree", "phylo_source_id", options_for_select(phylo_sources_for_select, tree.phylo_source.id), {}, { class: "form-control" } %>
        <% end %>
      </div>
      <p>3. Any extras:</p>
      <div class="form-group left-indent">
        <div class="checkbox">
          <%= f.label :branch_length do %>
            <%= f.check_box :branch_length %>
            Add branch lengths
          <% end %>
        </div>
      </div>
      <div class="form-group left-indent">
        <div class="checkbox">
          <%= f.label :images_from_EOL do %>
            <%= f.check_box :images_from_EOL %>
            Get images from EOL
          <% end %>
        </div>
      </div>
      <%= f.submit "Get tree from source", class: "btn btn-default btn-lg btn-block" %>
  </div>
  
  <div class="col-md-offset-1 col-md-7">
    <div id="name-matching-report">
      <%= link_to "Show report on name matching", root_path, class: "btn btn-default" %>
    </div>
    <table class="table table-bordered table-hover scroll">
      <thead> 
        <tr> 
          <th>Species</th> 
          <th>Kingdom</th> 
          <th>Use to uncheck all</th> 
        </tr> 
      </thead>
      <tbody>
          <% species.each do |e| %>
            <tr>
              <td class="success"><%= e %></td>
              <td class="">TODO</td>
              <td class="">
                <% if tree.chosen_species.nil? %>
                  <%= check_box_tag("tree[chosen_species][#{e}]", 1, true) %>
                  <%= check_box_tag("tree[chosen_species][#{e}]", 0, false) %>
                <% else %>
                  <% chosen_species = JSON.parse Tree.first.chosen_species.gsub('=>', ':') %>
                  <% if chosen_species[e] == "1" %>
                    <%= check_box_tag("tree[chosen_species][#{e}]", 1, true) %>
                    <%= check_box_tag("tree[chosen_species][#{e}]", 0, false) %>
                  <% else %>
                    <%= check_box_tag("tree[chosen_species][#{e}]", 1, false) %>
                    <%= check_box_tag("tree[chosen_species][#{e}]", 0, true) %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        
      </tbody>
    </table>
  </div>
  <% end %>
</div>
