<% tree_newick = sanitize_newick(tree) %>
<% non_san_newick = JSON.parse(tree.representation)['newick'] %>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#tree-viewer" aria-controls="tree-viewer" role="tab" data-toggle="tab" id="tab-name"><i class="fa fa-pagelines" aria-hidden="true"></i>Tree</a></li>
  <li role="presentation"><a href="#metadata" aria-controls="metadata" role="tab" data-toggle="tab"><i class="fa fa-info-circle" aria-hidden="true"></i>Metadata</a></li>
  <li role="presentation"><a href="#workflow" aria-controls="workflow" role="tab" data-toggle="tab" id="wf"><i class="fa fa-server" aria-hidden="true"></i>Workflow</a></li>
  <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="tree-viewer">
    <%= render partial: "tree_tab", locals: { tree: tree, tree_newick: tree_newick } %>
  </div>
  
  <div role="tabpanel" class="tab-pane" id="metadata">
    <%= render partial: "tree_metadata", locals: { tree: tree } %>
  </div>
  
  <div role="tabpanel" class="tab-pane active" id="workflow">
    <%= render partial: "workflow", locals: { tree: tree }  %>
  </div>
  
  <div role="tabpanel" class="tab-pane" id="settings">
    <%= render partial: "permission_tree_nav", locals: { tree: tree, tree_newick: tree_newick, non_san_newick: non_san_newick } %>
  <!-- End of tab settings   -->
  </div>
<!-- End of tab panel -->
</div>


<div class="modal fade" id="tree-hint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        Click on a name or a node to see viewer options. More info is available in the "Tree Viewer" section of Help.
      </div>
      <div class="modal-footer">
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-wrapper">
            <button type="button" class="btn btn-default btn-primary" data-dismiss="modal" id="gotit">Got it</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tree-rendering-failed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        Sorry! We got a tree (click "Export") but there was an error trying to view it. Try another tree, and use "Feedback" to report any errors.
      </div>
      <div class="modal-footer">
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-wrapper">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= link_to "Feedback", static_pages_feedback_path, class: "btn btn-default btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tree-updated" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        Tree information updated
      </div>
      <div class="modal-footer">
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-wrapper">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $('[data-toggle="tooltip"]').tooltip(); 
  
  try {
    topOffset = $("#img1").offset().top - $($(".container")[1]).offset().top - $('.nav-tabs').offset().top;
    leftOffset = $("#img1").offset().left;
    // console.log(topOffset, leftOffset);
    get_tree_image("<%= @id %>" , "<%= tree_newick %>", "#img1", topOffset, leftOffset);
    $("#topOffset").val(topOffset);
    $("#leftOffset").val(leftOffset);
  }
  catch(err) {
    console.log(err);
    $('#tree-rendering-failed').modal();
  }
  
  // console.log(typeof($.cookie("view_hint")));
  //console.log($.cookie("view_hint") == "true");
  
  if($.cookie("view_hint") == "true") {        
    $('#tree-hint').modal();
  }
  $("#gotit").click(function() {
    $.cookie("view_hint", "false");
  });
    
  $('#apply-customization').click(function() {
    run_tree_action();
  })
  
  $('.custom-tree-fields').change(function() {
    $('#apply-customization').click();
  })
  
  $('#display-scaled-tree').click(function() {
    current_tree_newick = "<%= JSON.parse(tree.scaled_representation)["scaled_tree"] %>";
    run_tree_action();
    $('#display-original-tree').removeClass('hide');
    $('.scaled-tree-options').removeClass('hide');
    $(this).addClass('hide');
  });
  
  $('#display-original-tree').click(function() {
    current_tree_newick = "<%= tree_newick %>";
    $('#branch').prop('checked', false);
    run_tree_action();
    $('#display-scaled-tree').removeClass('hide');
    $('.scaled-tree-options').addClass('hide');
    $(this).addClass('hide');
  });
  
  $( window ).on('beforeunload', function() {
    <% if user_signed_in? %>
      if(tree_state_changed) {
        save_tree_state();
      }
    <% end %>
  })
})

</script>