<% provide(:title, "Explore") %>

<%= form_tag search_trees_path, :method => 'get' do %>
  <div class="row">
    <div class="col-md-6 col-md-offset-2 col-sm-5 col-sm-offset-2">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Trees" %>
    </div>
    <div class="col-md-2 col-sm-3">
      <%= button_tag(type: "submit", class: "btn btn-default") do %>
        <i class="glyphicon glyphicon-search"></i>  Search
      <% end %>
    </div>
  </div>
<% end %>

<%= render partial: "trees/masonry", locals: {trees: @trees} %>

<div class="custom-pagination">
  <%= will_paginate @trees %>
</div>