<% provide(:title, "Gallery") %>

<% if @trees.empty? %>
  You are having no tree in gallery
<% end %>

<div class="slider-for">
  <% @trees.each do |t| %>
    <% if t.image.exists? %>
      <%= render partial: "slider_for_each", locals: { t: t, photo: t.image.url } %>
    <% else %>
      <% case t.status %>
      <% when "extracting" %>
        <%= render partial: "slider_for_each", locals: { t: t, photo: "extracting.gif" } %>
      <% when "extracted" %>
        <%= render partial: "slider_for_each", locals: { t: t, photo: "extracting.gif" } %>
      <% when "resolving" %>
        <%= render partial: "slider_for_each", locals: { t: t, photo: "extracting.gif" } %>
      <% when "resolved" %>
        <%= render partial: "slider_for_each", locals: { t: t, photo: "resolved.png" } %>
      <% when "constructing" %>
        <%= render partial: "slider_for_each", locals: { t: t, photo: "resolved.png" } %>
      <% when "completed" %>
        <%= render partial: "slider_for_each", locals: { t: t, photo: "resolved.png" } %>
      <% else %>
        <%= render partial: "slider_for_each", locals: { t: t, photo: "error.gif" } %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="slider-nav">
  <% @trees.each do |t| %>
    <div class="slider-nav-tree-info"> 
      <div><%= t.id %></div> 
      <div class="tree-status"><%= t.status %></div> 
      <div>          
        <% begin %>
          <% source = t.raw_extraction.contributable %>
          <% case source %>
          <% when ConLink %>
            <%= "URI: #{source.uri}" %>
          <% when ConFile %>
            <%= "File: #{source.document.original_filename}" %>
          <% when ConTaxon %>
            <% case source.specific %>
            <% when SelectionTaxon %>
              <%= "Taxon: #{source.name}" %><br>
              <%= "Number of species: #{source.nb_species}" %><br>
              <%= "By: #{source.criterion}" %>
            <% when SubsetTaxon %>
              <%= "Taxon: #{source.name}" %><br>
              <%= "Has genome in NCBI: #{source.has_genome_in_ncbi}" %><br>
              <%= "In country: #{source.country.name}" %>
            <% else %>
              <%= "Taxon: #{source.name}" %>
            <% end %>
          <% end %>
        <% rescue %>
          <%= "" %>
        <% end %>
      </div> 
    </div> 
  <% end %>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.slider-for').slick({
   slidesToShow: 1,
   slidesToScroll: 1,
   arrows: false,
   fade: true,
   asNavFor: '.slider-nav'
 });
 
 $('.slider-nav').slick({
   slidesToShow: 3,
   slidesToScroll: 1,
   asNavFor: '.slider-for',
   dots: true,
   centerMode: true,
   focusOnSelect: true
 });
});
</script>