<% provide(:title, "Gallery") %>

<div class="slider-for">
  <% @trees.each do |t| %>
    <% if t.image.exists? %>
      <%= render partial: "slider_for_each", locals: { t: t, photo: t.image.url } %>
    <% else %>
      <% case t.status %>
      <% when "extracting" %>
        <%= render partial: "slider_for_each", locals: { t: t, photo: "extracting.gif" } %>
      <% when "extracted" %>
        <%= render partial: "slider_for_each", locals: { t: t, photo: "extracting.gif" } %>
      <% when "resolving" %>
        <%= render partial: "slider_for_each", locals: { t: t, photo: "extracting.gif" } %>
      <% when "resolved" %>
        <%= render partial: "slider_for_each", locals: { t: t, photo: "resolved.png" } %>
      <% when "constructing" %>
        <%= render partial: "slider_for_each", locals: { t: t, photo: "resolved.png" } %>
      <% when "completed" %>
        <%= render partial: "slider_for_each", locals: { t: t, photo: "resolved.png" } %>
      <% else %>
        <%= render partial: "slider_for_each", locals: { t: t, photo: "error.gif" } %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="slider-nav">
  <% @trees.each do |t| %>
    <div class="slider-nav-tree-info"> 
      <div><%= link_to t.id, tree_path(t.id) %></div> 
      <div class="tree-status"><%= t.status %></div> 
      <div class="check-status-manual-btn">
        <% if t.status != "completed" %>
          <%= link_to "Check status", "#", class: "check-status", id: t.id %>
        <% end %>
      </div> 
      <div>          
        <% begin %>
          <% source = t.raw_extraction.contributable %>
          <% case source %>
          <% when ConLink %>
            <%= "URI: #{source.uri}" %>
          <% when ConFile %>
            <%= "File: #{source.document.original_filename}" %>
          <% when ConTaxon %>
            <% case source.specific %>
            <% when SelectionTaxon %>
              <%= "Taxon: #{source.name}" %><br>
              <%= "Number of species: #{source.nb_species}" %><br>
              <%= "By: #{source.criterion}" %>
            <% when SubsetTaxon %>
              <%= "Taxon: #{source.name}" %><br>
              <%= "Has genome in NCBI: #{source.has_genome_in_ncbi}" %><br>
              <%= "In country: #{source.country.name}" %>
            <% else %>
              <%= "Taxon: #{source.name}" %>
            <% end %>
          <% end %>
        <% rescue %>
          <%= "" %>
        <% end %>
      </div> 
      <div class="action-prune">
        <% if t.status == "resolved" %>
          <%= link_to "Prune tree", edit_tree_path(t.id) %>
        <% end %>
      </div>
    </div> 
  <% end %>
</div>
         
<script type="text/javascript">

</script>