<%= javascript_include_tag APP_CONFIG["ete_js"] %>
<% provide(:title, "Tree Viewer") %>
<% require "Newick" %>


<div>
  <div class="tree-directory">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span id="tdir-indicator">Select repository</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" id="repo">
        <div class="nav nav-stacked">
          <li><%= link_to "My trees", "#", id: "my-trees-selected" %></li>
          <li><%= link_to "Public trees", "#", id: "public-trees-selected" %></li>
        </div>
      </ul>
    </div>
  </div>
  
  <div class="tree-directory" id="seperator">/</div>
  
  <div class="tree-directory">
    <div class="dropdown" id="tree-selector-holder">
      <button class="btn btn-default dropdown-toggle treeMenuDropbox" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Select tree
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <div class="nav nav-stacked">
          <div class="center">Please select repository</div>
        </div>
      </ul>
    </div>
    
    <div class="dropdown" id="my-tree-selector" style="display: none;">
      <button class="btn btn-default dropdown-toggle treeMenuDropbox" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="tree-indicator">Select tree</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu tree-menu">
        <div class="table-wrapper">
          <div class="table-scroll">  
            <div class="nav nav-stacked">
              <% if @my_trees.empty? %>
                <div class="center" style="margin-top:40px;">You don't have any trees yet</div>
              <% else %>
                <% @my_trees.each do |t| %>
                  <% name = t.name.to_s == '' ? "*no name*" : t.name %>
                  <% case t.status %>
                  <% when "completed" %>
                    <li><%= link_to name, tree_path(t.id, last_state: true), remote: true, class:"", id: "nav-tree-#{t.id}" %></li>
                  <% when "unsuccessfully-constructed" %>
                    <li><%= link_to(name, tree_path(t.id), remote: true, class:"", id: "nav-tree-#{t.id}") %></li>
                  <% when nil %>
                    <!--Solr is denied to create tree but sidekiq still queued the tree -->
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </ul>
    </div>
    
    <div class="dropdown" id="public-tree-selector" style="display: none;">
      <button class="btn btn-default dropdown-toggle treeMenuDropbox" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="tree-indicator">Select tree</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu tree-menu">
        <div class="table-wrapper">
          <div class="table-scroll">  
            <div class="nav nav-stacked">
              <% @public_trees.each do |t| %>
                <% name = t.name.to_s == '' ? "*no name*" : t.name %>
                <% case t.status %>
                <% when "completed" %>
                  <li><%= link_to name, tree_path(t.id), remote: true, class:"", id: "nav-tree-#{t.id}" %></li>
                <% when "unsuccessfully-constructed" %>
                  <li><%= link_to(name, tree_path(t.id), remote: true, class:"", id: "nav-tree-#{t.id}") %></li>
                <% when nil %>
                  <!--Solr is denied to create tree but sidekiq still queued the tree -->
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </ul>
    </div>
  <!-- End of tree selector -->
  </div>
  
</div>

<div>
  <div class="row" id="tree-content">
  </div>
</div>

<div class="modal fade" id="extraction-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body center" id="extraction-content">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  save_tree_state = function() {
    var tree_action_metadata = {};

    tree_action_metadata['node_actions'] = node_actions_list;
    tree_action_metadata['tree_actions'] = tree_actions;
    tree_action_metadata['latest_node_id'] = latest_action_node_id;

    // console.log(JSON.stringify(tree_action_metadata));
    $('#tree_state').val(JSON.stringify(tree_action_metadata));
    $('#tree_state_form').submit();
    tree_state_changed = false;
  }
  
  $(".list-group-item").click(function() {
    $(".list-group-item").removeClass("active");
    $(this).addClass("active");
    $('#ra-content').html("<div class='center'><img src='<%= image_path("loading-icon.gif") %>'></div>");
  })

  $('a[id*="nav-tree-"]').click(function(e) {
    
    $('.tree-indicator').text($(this).text());
    if(tree_state_changed) {
      save_tree_state();
    }
    
  });

  $("#nav-tree-" + "<%= @inspect %>").click();
  $("#nav-tree-" + "<%= @inspect %>").parents(".dropdown").removeClass('open');
    
  <% if params[:hot] %>
    <% tree = Tree.find(@inspect) %>
    <% ra = tree.raw_extraction %>
    <% leaves = NewickTree.new(JSON.parse(tree.representation)["newick"].to_s).root.leaves.count rescue 'unparseable' %>
    $('#extraction-content').text("Retrieved a tree with <%= leaves %> tips. <%= JSON.parse(tree.chosen_species).count %> of <%= JSON.parse(ra.species)["resolvedNames"].count %> taxa in the input list were matched.");
    $("#extraction-info").modal();
  <% end %>

  <% if params[:failed] %>
    $('#extraction-content').text("Failed to extract tree.");
    $("#extraction-info").modal();
  <% end %>
  
  $('#repo a').click(function() {
    $("#tree-selector-holder").hide();
    if($(this).attr('id') == "my-trees-selected") {
      $("#my-tree-selector").show();
      $("#public-tree-selector").hide();
      $("#tdir-indicator").text("My trees");
    } else {
      $("#my-tree-selector").hide();
      $("#public-tree-selector").show();
      $("#tdir-indicator").text("Public trees");
    }
  });
})
</script>



