<% provide(:title, "Gallery") %>

<table class="table table-striped table-hover">
  <thead> 
    <tr> 
      <th>Id</th> 
      <th>Status</th> 
      <th>Polling</th> 
      <th>Username</th> 
    </tr> 
  </thead>
  <tbody> 
    <%= @trees.each do |t| %>
      <tr> 
        <th scope="row"><%= t.id %></th> 
        <td class="tree-status"><%= t.status %></td> 
        <td class="check-status-manual-btn">
          <% if t.status != "completed" %>
            <%= link_to "Check status", "#", class: "check-status", id: t.id %>
          <% end %>
        </td> 
        <td>@mdo</td> 
      </tr> 
    <% end %>
  </tbody>
</table>
         
<script type="text/javascript">
$(document).ready(function() {
  var processing_trees = <%= @processing %>;
  
  Notification.requestPermission();
  function spawnNotification(theBody,theIcon,theTitle) {
    var options = {
        body: theBody,
        icon: theIcon
    }
    var n = new Notification(theTitle,options);
  }
  socket = new WebSocket("ws://" + window.location.host + "/track")

  socket.onmessage = function(event) {
    data = JSON.parse(event.data);
    if(event.data.length) {
      // Change status of tree in view
      $("#" + data["tree_id"]).parents("td").siblings('.tree-status').html(data["status"]);
      
      // Remove that tree in processing_trees and remove "check status" btn
      if (data["status"] == "completed") {        
        index = processing_trees.indexOf(parseInt(data["tree_id"]));
        if (index > -1) {
          processing_trees.splice(index, 1);
        }
        $("#" + data["tree_id"]).parents(".check-status-manual-btn").html("");
      }
      
      // Send notification
      spawnNotification("Your tree is ready to view", "http://www.cs.nmsu.edu/phylotastic/images/logo_huge.png", "Tree #" + data["tree_id"] + " is " + data["status"]);
    }
  }

  $(".check-status").click(function(event) {
    event.preventDefault();
    params = $(this).attr('id');
    socket.send(params);
    $("#" + params).parents("td").siblings('.tree-status').html("<span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></span>");
  })
  
  setInterval( function() {
    for (i=0; i < processing_trees.length; i++) {
      socket.send(processing_trees[i]);
      $("#" + i).parents("td").siblings('.tree-status').html("<span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></span>");
    }
   }, 10000);
});


</script>