<% provide(:title, "Tree viewer") %>

<div class="row">
  <div class="col-md-3">
    <%= link_to "View tree report", root_path, class: "btn btn-default btn-lg btn-block" %>
    <%= link_to "Add to my Gallery", root_path, class: "btn btn-default btn-lg btn-block" %>
    <%= form_tag()%>
    <%= link_to "Save tree view", root_path, class: "btn btn-default btn-lg btn-block" %>
    <%= link_to "Save tree to disk", root_path, class: "btn btn-default btn-lg btn-block" %>
    
  </div>
  
  <div class="col-md-offset-1 col-md-8">
  
  </div>
</div>

<script type="text/javascript">

</script>