<%= javascript_include_tag Rails.configuration.x.ete_js %>
<% provide(:title, "Tree Viewer") %>
<% require "Newick" %>

<div class="tree-content-wrapper">
  
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>
      <% if @link_to_list.nil? %>
        <em>deleted list<em>
      <% else %>
        <%= link_to @list_name, @link_to_list %>
      <% end %>
    </li>
    <li class="active"><%= @tree.name %></li>
  </ol>
    
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#tree-viewer" aria-controls="tree-viewer" role="tab" data-toggle="tab" id="tab-name">
        <%= fa_icon "pagelines", text: "Tree" %>
      </a>
    </li>
    <li role="presentation">
      <a href="#metadata" aria-controls="metadata" role="tab" data-toggle="tab">
        <%= fa_icon "info-circle", text: "Metadata" %>
      </a>
    </li>
    <li role="presentation">
      <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
        <%= fa_icon "cog", text: "Settings" %>
      </a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tree-viewer">
      <% if @tree.unscaled.empty? %>
        <p class="bg-danger">
          <% if @tree.error.include? "Not enough valid node ids provided to construct a subtree" %>
            Getting a tree from this list failed because we could not find enough taxa in OpenTree's synthetic tree (at least 2 are needed). This usually means that your list includes taxa that are extinct or have an uncertain placement. Try another source of names.</br>
          <% else %>
            <%= JSON.parse(@tree.error)["message"] rescue "Try again later" %></br>
          <% end %>
          <%= link_to "Feedback", static_pages_feedback_path %>
        </p>
      <% else %>        
        <%= render partial: "visualization", locals: { tree: @tree, newick: @newick } %>
      <% end %>
    </div>
  
    <div role="tabpanel" class="tab-pane" id="metadata">
      <%= render partial: "metadata", locals: { tree: @tree } %>
    </div>
  
    <div role="tabpanel" class="tab-pane" id="settings">
      <%= render partial: "settings", locals: { tree: @tree } %>
    <!-- End of tab settings   -->
    </div>
  <!-- End of tab panel -->
  </div>

</div>

<script type="text/javascript">
<% if @tree.action_sequence.nil? %>

  var node_actions_list = '{}';
  var tree_actions = '{}';

  $('#internal').prop('checked', false);
  $('#ladderize').prop('checked', false);
  $('#branch').prop('checked', false);
  $('#line-color').val('#787878');

<% else %>

  <% tree_data = JSON.parse(@tree.action_sequence) %>
  var node_actions_list = '<%= raw tree_data["node_actions"].to_json %>';
  var tree_actions = '<%= raw tree_data["tree_actions"].to_json %>';

  if ('<%= tree_data["tree_actions"]["show_internal_node"] %>' == "true") {    
    $('#internal').prop('checked', true);
  } else {
    $('#internal').prop('checked', false);
  }

  if ('<%= tree_data["tree_actions"]["ladderize"] %>' == "true") {    
    $('#ladderize').prop('checked', true);
  } else {    
    $('#ladderize').prop('checked', false);
  }

  if ('<%= tree_data["tree_actions"]["branch"] %>' == "true") {    
    $('#branch').prop('checked', true);
  } else {    
    $('#branch').prop('checked', false);
  }

  if ('<%= tree_data["tree_actions"]["line_color"] %>' == '') {    
    $('#line-color').val('#787878');
  } else {
    $('#line-color').val('<%= tree_data["tree_actions"]["line_color"] %>');
  }

  if ('<%= tree_data["tree_actions"]["line_width"] %>' == "") {
    $('#line-weight').val("1");
  } else {
    $('#line-weight').val('<%= tree_data["tree_actions"]["line_width"] %>');
  }

  var latest_action_node_id = '<%= raw tree_data["latest_node_id"].to_json %>';
<% end %>

try {
  get_tree_image("<%= @tree.id %>" , "<%= sanitize_newick(@newick) %>", "#img1", 0, 0);
  run_tree_action();
}
catch(err) {
  console.log(err);
  $('#tree-rendering-failed').modal();
}

$( window ).on('beforeunload', function() {
  if(tree_state_changed) {
    // save_tree_state(node_actions_list, tree_actions, latest_action_node_id);
  }
});

function save_tree_state(node_actions_list, tree_actions, latest_action_node_id) {
  var tree_action_metadata = {};

  tree_action_metadata['node_actions'] = node_actions_list;
  tree_action_metadata['tree_actions'] = tree_actions;
  tree_action_metadata['latest_node_id'] = latest_action_node_id;

  // console.log(JSON.stringify(tree_action_metadata));
  $('#tree_state').val(JSON.stringify(tree_action_metadata));
  $('#tree_state_form').submit();
  tree_state_changed = false;
}

</script>