<% provide(:title, "Tree viewer") %>

<div class="row">
  <div class="col-md-3">
    <%= link_to "View tree report", root_path, class: "btn btn-default btn-lg btn-block" %>
    <%= link_to "Add to my Gallery", root_path, class: "btn btn-default btn-lg btn-block" %>
    <%= link_to "Save tree view", root_path, class: "btn btn-default btn-lg btn-block" %>
    <%= link_to "Save tree to disk", root_path, class: "btn btn-default btn-lg btn-block" %>
    
  </div>
  
  <div class="col-md-offset-1 col-md-8">
    <%= image_tag "https://s-media-cache-ak0.pinimg.com/originals/58/1a/de/581adeaad10a6026999a6b9dd7b739e7.gif", width: "100%" %>
  </div>
</div>

<script type="text/javascript">

</script>