explanation = JSON.parse("<%= @explanation.to_json %>".replace(/&quot;/g,'"'));

if (explanation["figure"]) {
  $("#explanation").html('<%=h @explanation["paragraph"] %>');
  $("#explanation").append('<div class="center"><figure><img src="' + "<%= @href %>" + '" alt="Mountain View" style="width:304px;height:228px;"><figcaption>Fig.1 - A view of the pulpit rock in Norway.</figcaption></figure></div>');
  
} else {
  $("#explanation").html('<%=h @explanation["paragraph"] %>');
}

$('#navigator-form').html("<%= escape_javascript( render :partial => 'workflow/workflow_navigator_form', :locals => { explanation: @explanation, tree: @tree } ) %>");
$('#diagram').html("");

draw_flowchart(explanation);
add_navigator(explanation);
$('#diagram svg').css("width", "100%");