<% species = resolved_names.map { |n| n["matched_name"] } %>

<% if species.empty? %>
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab" id="tab-name"><%= name %></a></li>
      <li role="presentation"><a href="#metadata" aria-controls="metadata" role="tab" data-toggle="tab">Metadata</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="content">
        <p class="chosing-species">No species</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="metadata">
        <div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= form_for Tree.new(raw_extraction: ra), html: { class: "form-horizontal" } do |f| %>
    <%= f.hidden_field :raw_extraction_id %>
    <div class="center">
	  <!-- Button trigger modal -->
	  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#get-tree-modal-<%= ra.id %>" style="margin-bottom: 20px;">
	    Get tree
	  </button>

	  <!-- Modal -->
	  <div class="modal fade" id="get-tree-modal-<%= ra.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	          <h4 class="modal-title" id="myModalLabel">Enter name for tree</h4>
	        </div>
	        <div class="modal-body">
	          <%= f.text_field :name, class: "form-control" %>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	          <%= f.submit "Get tree", class: "btn btn-lg btn-primary", style: "margin-bottom: 10px;" %>
	        </div>
	      </div>
	    </div>
	  </div>
    </div>
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab" id="tab-name"><%= name %></a></li>
        <li role="presentation"><a href="#metadata" aria-controls="metadata" role="tab" data-toggle="tab">Metadata</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="content">
          <table class="table table-bordered table-hover chosing-species">
            <thead> 
              <tr> 
                <th class="species-heading-row">#</th> 
                <th class="species-heading-row">Species</th> 
                <th class="species-heading-row">Kingdom</th> 
                <th class="species-cb-column species-heading-row">
                  Select/Deselect all<br>
                  <%= check_box_tag("toggle", 1, false, id: "species-toggle-all-cb") %> 
                </th> 
              </tr> 
            </thead>
            <tbody>
                <% species.each_with_index do |e, i| %>
                  <tr class="species-row success">
                    <td class=""><%= i + 1 %></td>
                    <td class=""><%= e %></td>
                    <td class="">TODO</td>
                    <td class="species-cb-column">           
                      <%= check_box_tag("tree[chosen_species][#{e}]", 1, true, class: "species-cb") %>
                      <%= check_box_tag("tree[chosen_species][#{e}]", 0, false, class: "hidden") %>
                    </td>
                  </tr>
                <% end %>
            </tbody>
          </table>
          
          <% unless unresolved.empty? %>
            <hr>
            <h4>Unmatched names</h4>
            <div class="">
              <div> 
                <div class="row"> 
                  <strong class="col-sm-5">Edit name as desired, then click the 'Search' button to look for matches</strong>
                  <div class="col-sm-2"></div>
                </div> 
              </div>
              <div>
                <% unresolved.each_with_index do |s, i| %>
                  <div class="row form-group">
                    <%= form_tag({controller: 'onpl_files', action: 'update_a_species', id: ra.contributable.id}, method: "post", remote: true, class: "fix-names") do %>
                      <div class="col-sm-5"><%= text_field_tag 'species[' + i.to_s + '][scientific_name]', s, class: "form-control" %></div>
                      <%= hidden_field_tag 'species[' + i.to_s + '][old]', s %>
                      <div class="col-sm-2">
                        <%= submit_tag "Search", class: "btn btn-default"%>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        
        <div role="tabpanel" class="tab-pane" id="metadata">
          <div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
  $(".species-cb").click(function() {
    event.stopPropagation();
    if($(this).is(':checked')) {
      $(this).siblings("input[type='checkbox']").attr('checked', false);
      $(this).parents(".species-row").addClass("success");
    } else {          
      $(this).siblings("input[type='checkbox']").attr('checked', true);
      $(this).parents(".species-row").removeClass("success");
    }
  });
  
  $(".species-row").click(function(event) {
    $(this).find('.species-cb').click();
  });
  
  $("#species-toggle-all-cb").click(function() {
    if($(this).is(':checked')) {
      for(i=0; i<$(".species-cb").length; i++) {
        if( !$($(".species-cb")[i]).is(':checked') ) {
          $($(".species-cb")[i]).click();
        }
      }
    } else {
      for(i=0; i<$(".species-cb").length; i++) {
        if( $($(".species-cb")[i]).is(':checked') ) {
          $($(".species-cb")[i]).click();
        }
      }
    }
  })
  
  $(".fix-names").find("input[type='submit']").click(function() {
    $(this).parents(".fix-names").submit();
    $(this).replaceWith("<img class='center' width=60 src='<%= image_path("loading-icon.gif") %>'>");
  })
})
</script>