<% resolved_names = JSON.parse(@ra.species)['resolvedNames'] rescue [] %>
<% begin %>
  <% resolved_names = [] if resolved_names.empty? %>
<% rescue %>
  <% resolved_names = [] %>
<% end %>
<% species = resolved_names.map { |n| n["matched_name"] } %>
<% species = species.sort %>

<% if species.empty? %>
  <%= render partial: "raw_extractions/no_species", locals: {ra: ra} %>
<% else %>
    
  <div class="col-md-9" id="ra-content">
    <div class="fix-heading"><%= ra.name %></div>
    
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab" id="tab-name">Species</a></li>
      <li role="presentation"><a href="#metadata" aria-controls="metadata" role="tab" data-toggle="tab">Metadata</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="content">
        <% case ra.contributable.class.name %>
        <% when "UploadedList" %>
          <%= render partial: "trees/tree_form_with_common_names", locals: { ra: ra, species: species } %>
        <% else %>
          <%= render partial: "trees/tree_form", locals: { ra: ra, species: species } %>
        <% end %>
        
        
        <% case ra.contributable.class.name %>
        <% when "OnplFile" %>
          <%= render partial: "onpl_files/unmatched_names", locals: {ra: ra, resolved_names: resolved_names} %>
        <% when "UploadedList" %>
          <%= render partial: "uploaded_lists/unmatched_names", locals: {ra: ra, resolved_names: resolved_names} %>
        <% end %>
      </div>
      
      <div role="tabpanel" class="tab-pane" id="metadata">
        <%= render partial: "raw_extractions/metadata", locals: { ra: ra } %>
      <!-- End of tab metadata   -->
      </div>
    <!-- End of tab panel -->
    </div>
  <!-- ra-content -->
  </div>

  <div class="col-md-3">
    <div id="nav-list" class="well">
      <%= render partial: 'raw_extractions/nav_list', locals: { ra: ra, resolved_names: resolved_names} %>
    </div>
    <%= render partial: "raw_extractions/creation_nav" %>  
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
  $(".species-cb").click(function() {
    event.stopPropagation();
    if($(this).is(':checked')) {
      $(this).siblings("input[type='checkbox']").attr('checked', false);
      $(this).parents(".species-row").addClass("success");
    } else {          
      $(this).siblings("input[type='checkbox']").attr('checked', true);
      $(this).parents(".species-row").removeClass("success");
    }
  });
  
  $(".species-row").click(function(event) {
    $(this).find('.species-cb').click();
  });
  
  $("#species-toggle-all-cb").click(function() {
    if($(this).is(':checked')) {
      for(i=0; i<$(".species-cb").length; i++) {
        if( !$($(".species-cb")[i]).is(':checked') ) {
          $($(".species-cb")[i]).click();
        }
      }
    } else {
      for(i=0; i<$(".species-cb").length; i++) {
        if( $($(".species-cb")[i]).is(':checked') ) {
          $($(".species-cb")[i]).click();
        }
      }
    }
  })
  
  $(".fix-names").find("input[type='submit']").click(function() {
    $(this).parents(".fix-names").submit();
    $(this).replaceWith('<i class="fa-li fa fa-spinner fa-spin" style="margin-left: 50px; font-size: 30px;"></i>');
  })
  
})

</script>
