<% species = resolved_names.map { |n| n["matched_name"] } %>
<% species = species.sort %>

<% if species.empty? %>
  <%= render partial: "raw_extractions/no_species", locals: {ra: ra, name: name} %>
<% else %>
    
  <div class="col-md-9" id="ra-content">
    <div class="fix-heading">List viewer</div>
    
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab" id="tab-name"><%= name %></a></li>
      <li role="presentation"><a href="#metadata" aria-controls="metadata" role="tab" data-toggle="tab">Metadata</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="content">
        <%= render partial: "trees/tree_form", locals: {ra: ra, species: species} %>
      </div>
      
      <div role="tabpanel" class="tab-pane" id="metadata">
        <div class="metadata-wrapper">
          <% source = ra.contributable %>
          <div class="row">
            <div class="col-sm-4">Origin source</div>
            <div class="col-sm-8"><%= source.meta_origin %></div>
          </div>
          <div class="row">
            <div class="col-sm-4">Created at</div>
            <div class="col-sm-8"><%= source.created_at %></div>
          </div>
          <% if source.class.name == "ConTaxon" %>
            <div class="row">
              <div class="col-sm-4">Number of species</div>
              <div class="col-sm-8">
                <% if source.nb_species.nil? %>
                  All
                <% else %>
                  <% source.nb_species %>
                <% end %>
              </div>
            </div>
            <% if source.has_genome_in_ncbi %>
              <div class="row">
                <div class="col-sm-4">Has genome in NCBI</div>
              </div>
            <% end %>
            <% if !source.country.nil? %>
              <div class="row">
                <div class="col-sm-4">Country</div>
                <div class="col-sm-8"><%= source.country.name %></div>
              </div>
            <% end %>
          <% end %>
        </div>
       <!-- End of tab metadata   -->
      </div>
    <!-- End of tab panel -->
    </div>
  <!-- ra-content -->
  </div>

  <div class="col-md-3">
    <div id="nav-list" class="well">
      <%= render partial: 'raw_extractions/nav_list', locals: { ra: ra, resolved_names: resolved_names} %>
    </div>
    <%= render partial: "raw_extractions/creation_nav" %>  
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
  $(".species-cb").click(function() {
    event.stopPropagation();
    if($(this).is(':checked')) {
      $(this).siblings("input[type='checkbox']").attr('checked', false);
      $(this).parents(".species-row").addClass("success");
    } else {          
      $(this).siblings("input[type='checkbox']").attr('checked', true);
      $(this).parents(".species-row").removeClass("success");
    }
  });
  
  $(".species-row").click(function(event) {
    $(this).find('.species-cb').click();
  });
  
  $("#species-toggle-all-cb").click(function() {
    if($(this).is(':checked')) {
      for(i=0; i<$(".species-cb").length; i++) {
        if( !$($(".species-cb")[i]).is(':checked') ) {
          $($(".species-cb")[i]).click();
        }
      }
    } else {
      for(i=0; i<$(".species-cb").length; i++) {
        if( $($(".species-cb")[i]).is(':checked') ) {
          $($(".species-cb")[i]).click();
        }
      }
    }
  })
  
  $(".fix-names").find("input[type='submit']").click(function() {
    $(this).parents(".fix-names").submit();
    $(this).replaceWith("<img class='center' width=60 src='<%= image_path("loading-icon.gif") %>'>");
  })
  
})

</script>
