<div>My Lists</div>

<div class="table-wrapper">
  <div class="table-scroll">  
    <div class="list-group">
      <% my_lists.each do |l| %>  
        <%= link_to l["list_title"], uploaded_list_path(l["list_id"]), remote: true, class:"list-group-item" %>
      <% end %>
  
      <% my_failed_lists.each do |l| %>
        <%= link_to l.name, failed_uploaded_lists_path(id: l.id), remote: true, class:"list-group-item list-group-item-danger" %>
      <% end %>
      
      <% my_subcribing_lists.each do |l| %>
        <%= link_to l.name, uploaded_list_path(l.lid), remote: true, class:"list-group-item list-group-item-info" %>
      <% end %>
      
      <% cfiles.each do |l| %>
        <%= link_to l.name, con_file_path(l), remote: true, class:"list-group-item" %>
      <% end %>
      
      <% clinks.each do |l| %>
        <%= link_to l.name, con_link_path(l), remote: true, class:"list-group-item" %>
      <% end %>
      
      <% ctaxons.each do |l| %>
        <%= link_to l.name, con_taxon_path(l), remote: true, class:"list-group-item" %>
      <% end %>
      
      <% subset_taxons.each do |l| %>
        <%= link_to l.name, subset_taxon_path(l), remote: true, class:"list-group-item" %>
      <% end %>
      
      <% selection_taxons.each do |l| %>
        <%= link_to l.name, selection_taxon_path(l), remote: true, class:"list-group-item" %>
      <% end %>
    </div>
  </div>
</div>