<% lists = my_lists << my_failed_lists << cfiles << ofiles << clinks << ctaxons  %>
<% lists.flatten!.sort_by!{|m| m[:name].downcase } %>

<div class="fix-heading">My Lists</div>

<div class="table-wrapper">
  <div class="table-scroll">  
    <div class="list-group">
      <% lists.each do |l| %>
        <% case l[:class] %>
        <% when "UploadedList" %>
          <%= link_to truncate(l[:name]), uploaded_list_path(l[:id]), remote: true, class:"list-group-item", id: "ul-#{l[:id]}" %>
        <% when "OnplFile" %>
          <%= link_to truncate(l[:name]), onpl_file_path(l[:id]), remote: true, class:"list-group-item", id: "of-#{l[:id]}" %>
        <% when "ConFile" %>
          <%= link_to truncate(l[:name]), con_file_path(l[:id]), remote: true, class:"list-group-item", id: "cf-#{l[:id]}" %>
        <% when "ConLink" %>
          <%= link_to truncate(l[:name]), con_link_path(l[:id]), remote: true, class:"list-group-item", id: "cl-#{l[:id]}" %>
        <% when "ConTaxon" %>
          <%= link_to truncate(l[:name]), con_taxon_path(l[:id]), remote: true, class:"list-group-item", id: "ct-#{l[:id]}" %>
        <% when "FailedList" %>
          <%= link_to truncate(l[:name]), failed_uploaded_lists_path(id: l[:id]), remote: true, class:"list-group-item list-group-item-danger", id: "fl-#{l[:id]}" %>
        <% end %>
      <% end %>
      
    </div>
  </div>
</div>