<div class="center">
  <!-- Modal -->
  <div class="modal fade" id="get-tree-modal-<%= ra.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Enter name for tree</h4>
        </div>
        <div class="modal-body">
          <p class="tree-name-alert hide">
            * Please fill in name of tree
          </p>
          <%= text_field_tag :name, nil, class: "form-control", id: "tree_name-#{ra.id}" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= link_to "Get tree", "#", class: "btn btn-primary btn-lg", id: "psedo-submit-#{ra.id}", style: "margin-bottom: 10px;" %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $('#tree_name-<%= ra.id %>').keypress(function(e) {
    if(e.which == 13) {
      $('.psedo-submit').click();
    }
  });
  
  $('#psedo-submit-<%= ra.id %>').click(function(e) {
    if ($('#tree_name-<%= ra.id %>').val().replace(/\s/g, '') == '') {
      $(".tree-name-alert").removeClass("hide");
      e.preventDefault();
      return false;
    } else {
      e.preventDefault();
      $('#hidden_tree_name_<%= ra.id %>').val($('#tree_name-<%= ra.id %>').val());
      $("#tree-form-<%= ra.id %>").submit();
    }
  });
});
</script>