<%= link_to "Download selected species as text", "#",  class: "btn btn-default btn-block", id: "download-selected-species" %>

<button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target=".taxon-matching-report-modal" style="margin-bottom: 7px;">Taxon matching</button>
  
<div class="modal fade taxon-matching-report-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header"> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> 
        <h3 class="modal-title center" id="myModalLabel">Taxon Matching Report</h3>
        <em>The list of query species was validated with &lt;TNRS&gt; prior to querying for a tree. This table shows how the query strings were mapped to validated taxon names. Names not listed in this table are not recognizable by taxon finder.</em>
        <div class="modal-footer">
          <%= link_to "Export as CSV", taxon_matching_report_trees_path(format: :csv, ra: ra.id), class: "btn-primary btn btn-default", target: '_blank' %> 
        
          <%= link_to "Export as PDF", taxon_matching_report_trees_path(format: :pdf, ra: ra.id), class: "btn-primary btn btn-default", target: '_blank' %>
        </div>
      </div>
      <div class="modal-body">        
        <table class="table table-hover">
          <thead> 
            <tr>
              <th class="">#</th>
              <th class="">Query</th> 
              <th class="">Matched name</th> 
              <th class="">Match</th> 
              <th class="">Synonyms</th>
            </tr> 
          </thead>
          <tbody>
            <% resolved_names.each_with_index do |r, i| %>
              <tr class="species-row">
                <td class=""><%= i + 1 %></td>
                <td class=""><%= r["search_string"] %></td>
                <td class=""><%= r["matched_name"] %></td>
                <td class=""><%= r["match_type"] %></td>
                <td class="">
                  <% r["synonyms"].each do |s| %>
                    <%= s %><br>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <%= link_to "Export as CSV", taxon_matching_report_trees_path(format: :csv, ra: ra.id), class: "btn-primary btn btn-default", target: '_blank' %> 
        
        <%= link_to "Export as PDF", taxon_matching_report_trees_path(format: :pdf, ra: ra.id), class: "btn-primary btn btn-default", target: '_blank' %> 
        
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$("#download-selected-species").click(function() {
  input_checked = $( ".species-cb-column").children("input:checked");
  data = {};
  data["species"] = []
  for (var i=0; i<input_checked.length; i++) {
    if ($(input_checked[i]).val() == "1" && 
        $(input_checked[i]).attr("id") != "species-toggle-all-cb" ) {
      data["species"].push($(input_checked[i]).attr('name').match(/\[(.*?)\]/g)[1].replace('[', '').replace(']', ''));
    }
  }
  
  submit("<%= download_selected_species_raw_extraction_path(id: 0) %>", 'POST', data);
  return false;
});

function submit(action, method, values) {
    var form = $('<form/>', {
        action: action,
        method: method
    });
    $.each(values, function() {
        form.append($('<input/>', {
            type: 'hidden',
            name: "species",
            value: this
        }));    
    });
    form.appendTo('body').submit();
}
</script>