<div class="center fix-heading">List Actions</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#get-tree-modal-<%= ra.id %>" style="margin-bottom: 7px;">
  Get tree
</button>

<%= render partial: "raw_extractions/name_pop_up", locals: {ra: ra} %>

  
<%= link_to "Download list", "#",  class: "btn btn-default btn-block", id: "download-selected-species" %>

<button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target=".taxon-matching-report-modal" style="margin-bottom: 7px;">Taxon matching</button>
  
<div class="modal fade taxon-matching-report-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header"> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> 
        <h3 class="modal-title center" id="myModalLabel">Taxon Matching Report</h3>
        <em>The list of query species was validated with &lt;TNRS&gt; prior to querying for a tree. This table shows how the query strings were mapped to validated taxon names. Names not listed in this table are not recognizable by taxon finder.</em>
        <div class="modal-footer">
          <%= link_to "Export as CSV", taxon_matching_report_trees_path(format: :csv, ra: ra.id), class: "btn-primary btn btn-default", target: '_blank' %> 
        
          <%= link_to "Export as PDF", taxon_matching_report_trees_path(format: :pdf, ra: ra.id), class: "btn-primary btn btn-default", target: '_blank' %>
        </div>
      </div>
      <div class="modal-body">        
        <table class="table table-hover">
          <thead> 
            <tr>
              <th class="">#</th>
              <th class="">Query</th> 
              <th class="">Matched name</th> 
              <th class="">Match</th> 
              <th class="">Synonyms</th>
            </tr> 
          </thead>
          <tbody>
            <% resolved_names.each_with_index do |r, i| %>
              <tr class="species-row">
                <td class=""><%= i + 1 %></td>
                <td class=""><%= r["search_string"] %></td>
                <td class=""><%= r["matched_name"] %></td>
                <td class=""><%= r["match_type"] %></td>
                <td class="">
                  <% r["synonyms"].each do |s| %>
                    <%= s %><br>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <%= link_to "Export as CSV", taxon_matching_report_trees_path(format: :csv, ra: ra.id), class: "btn-primary btn btn-default", target: '_blank' %> 
        
        <%= link_to "Export as PDF", taxon_matching_report_trees_path(format: :pdf, ra: ra.id), class: "btn-primary btn btn-default", target: '_blank' %> 
        
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<a class="btn btn-default btn-block" data-toggle="modal" data-target="#edit-contributable-name-modal-<%= ra.id %>" href="#" style="margin-bottom: 7px;">Edit list</a>
<!-- Modal -->
<div class="modal fade" id="edit-contributable-name-modal-<%= ra.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <% if ra.contributable.class.name != "UploadedList" %>
        <%= form_for ra.contributable do |f| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Enter a new name for this list</h4>
          </div>
          <div class="modal-body">
              <%= f.text_field :name, value: ra.contributable.name, class: "form-control" %>
          </div>
          <div class="modal-footer">
            <%= f.submit "Change", class: "btn btn-primary", style: "margin-bottom: 10px;" %>
          </div>
        <% end %>
      <% else %>
        <%= form_for ra.contributable, url: update_metadata_uploaded_lists_path(id: ra.contributable.lid), method: :post do |f| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit list</h4>
          </div>
          <div class="modal-body">
            <% list = get_a_list(ra.contributable.lid) %>
            <div class="row">
              <%= f.label :name, class: "col-sm-3" %>
              <div class="col-sm-9">
                <%= f.text_field :name, value: list["list"]["list_title"], class: "form-control" %>
              </div>
            </div>
            <br />
            <div class="row">
              <%= f.label :public, class: "col-sm-3" %>
              <% if list["list"]["is_list_public"] %>
                <div class="col-sm-3">
                  True: <%= radio_button_tag("public", "true", checked: true) %>
                </div>
                <div class="col-sm-3">
                  False: <%= radio_button_tag("public", "false") %>
                </div>
              <% else %>
                <div class="col-sm-3">
                  True: <%= radio_button_tag("public", "true") %>
                </div>
                <div class="col-sm-3">
                  False: <%= radio_button_tag("public", "false", checked: true) %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.submit "Change", class: "btn btn-primary", style: "margin-bottom: 10px;" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to('Delete list', ra.contributable, class: 'btn btn-danger btn-block', method: :delete, data: { confirm: "Are you sure to delete list #{ra.contributable.name}?" } ) %>

<script type="text/javascript">
$("#download-selected-species").click(function() {
  input_checked = $( ".species-cb-column").children("input:checked");
  data = {};
  data["species"] = []
  for (var i=0; i<input_checked.length; i++) {
    if ($(input_checked[i]).val() == "1" && 
        $(input_checked[i]).attr("id") != "species-toggle-all-cb" ) {
      data["species"].push($(input_checked[i]).attr('name').match(/\[(.*?)\]/g)[1].replace('[', '').replace(']', ''));
    }
  }
  
  submit("<%= download_selected_species_raw_extraction_path %>", 'POST', data);
  return false;
});

function submit(action, method, values) {
    var form = $('<form/>', {
        action: action,
        method: method
    });
    $.each(values, function() {
        form.append($('<input/>', {
            type: 'hidden',
            name: "species",
            value: this
        }));    
    });
    form.appendTo('body').submit();
}
</script>