<% provide(:title, "Home") %>

<div class="row">
  <div class="col-md-3">
    <div class="list-selection">
      <%= render partial: "my_lists", locals: { my_lists: @my_lists }%>

    </div>
    
    <div class="list-selection">
      <%= render partial: "public_lists", locals: { public_lists: @public_lists } %>
    </div>
  </div>
  
  <div class="col-md-9" id="ra-holder">
    <div class="col-md-9" id="ra-content">
      <% if params[:waiting] == "1" %>
        <div class='center'><img src='<%= image_path("loading-icon.gif") %>'></div>
      <% elsif cookies[:welcome].nil? %>
        <p style="font-size: 150%; font-weight: bold;">
          Welcome to the Phylotastic web portal!
        </p>
        <p>
          The portal makes a tree from a list of species names. Choose from the "Make a new list" menu (at right) to
          <ul>
            <li>upload your list (one name per line or DwC-A)</li>
            <li>extract names from a document (PDF, .docx, etc)</li>
            <li>extract names from a web page</li>
            <li>choose a taxon (e.g., Felidae) and sample from that</li>
          </ul>
      
          If you don't have any lists of your own, choose a pre-made example from "Public Lists".
        </p>
        <p>
          To find out more, go to <%= link_to "Help", static_pages_help_path %>.
        </p>
        <%= image_tag("welcome.png", alt: "welcome", width: "100%", id: "welcome-img") %>
      <% end %> 
    </div>
  
    <div class="col-md-3">
      <div id="nav-list" class="hide">
      </div>
      <%= render partial: "creation_nav" %>  
    </div>  
  </div>
</div>

<script>
$(document).ready(function() {
  
  // $(".table-scroll" ).scrollTop( 300 );
  
  // There is a background job
  if("<%= params[:jid] %>" == "") {
    $("#ra-<%= params[:ra] %>").click();
  } else {
    socket = new WebSocket("ws://" + window.location.host + "/raw_extractions/checking_status?id=" + "<%= params[:ra]%>" + "&jid=" + "<%=params[:jid] %>");
        
    socket.onmessage = function(event) {
      d = JSON.parse(event.data)
      console.log(d);
      if(d["status"] == "complete") {
        $("#ra-<%= params[:ra] %>").click();
        
        // Fade away message
        <% if params[:waiting] == "1" %>
          $(".alert" ).fadeOut(500);
        <% end %>
      // End of status complete
      }
      
      if(d["status"] == "failed") {
        $("#ra-<%= params[:ra] %>").click();
        
        // Fade away message
        <% if params[:waiting] == "1" %>
          $(".alert" ).fadeOut(500);
        <% end %>
      // End of status failed
      }
     
     
    // End of socket
    }
  }
  
  
  
  $(".list-group-item").on("click", function() {
    $(".list-group-item").removeClass("active");
    $(this).addClass("active");
    $('#ra-content').html("<div class='center'><img src='<%= image_path("loading-icon.gif") %>'></div>");
    $('#nav-list').html("");
  })
})

</script>