<% provide(:title, "Taxon sampler") %>

<h1>Choose some or all of the species from a taxon</h1>

<%= form_for ConTaxon.new, html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :name, "1. Start by entering a taxon name:", class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div>
<% end %>


<div>
  2. Then choose one of 3 approaches (note the options)
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-default btn-lg btn-block scenario-selection">Pre-built examples</button>
      <p>Choose from pre-composed lists, e.g., crop species, pets, mammalian orders</p>
    </div>

    <div class="col-md-4">
      <%= form_for ConTaxon.new, html: {class: "form-horizontal"} do |f| %>
        <div class="form-group">
          <%= f.hidden_field :name %>
          <%= f.submit "Choose from a Specified Taxon", class: "btn btn-default btn-lg btn-block scenario-selection"%>
        </div>
      <% end %>
      <p>Name a taxon (e.g., Primates), then choose all or some members</p>
    </div>

    <div class="col-md-4">
      <%= link_to "Extract from file or online source", raw_extractions_new_from_file_and_web_path, class: "btn btn-default btn-lg btn-block scenario-selection" %>
      <p>Get names from a web site or a file</p>
    </div>
  </div>
</div>
