<% provide(:title, "Create trees from pre-compiled list of species") %>

<h1>Choose a pre-compiled list of species</h1>
  
<div class="row">
  <div class="col-md-6">
    <h2>From your own list</h2>
    <table class="table table-hover">
      <tbody>
        <% if @my_lists.empty? %>
          <tr>
            <td>
              You have not submitted any list. Maybe you want to try to create one and submit on the right form.
            </td>
          </tr>
        <% else %>
          <% @my_lists.each do |p| %>
            <% ul = UploadedList.find_by_lid(p["list_id"]) %>
            <% next if ul.nil? %>
            <tr>
              <td>
                <%= link_to p["list_title"], uploaded_list_path(id: p["list_id"]) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    
    <h2>From our database</h2>
    <table class="table table-hover">
      <tbody>
        <% @public_lists.each do |p| %>
          <tr>
            <td>
              <%= link_to p["list_title"], uploaded_list_path(id: p["list_id"]) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="col-md-5 col-md-offset-1">
    <h2>From your own file</h2>
    <%= form_for @uploaded_list, url: uploaded_lists_path, html: { multipart: true } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.file_field :file, class: "input-file" %>
        <div>Note: please compress your files in one ZIP file. You can find a default template <%= link_to "here", "https://drive.google.com/file/d/0B7SKJwE3SsCsNUhYQWdEVzk2RFE/view?usp=sharing"%></div>
        
        <%= f.label :public do %>
          <%= f.check_box :public, class: "input-file" %>
          Allow others to watch this list
        <% end %>
        
        <%= f.submit "Submit my list", class: "btn btn-default btn-lg btn-block" %>
      </div>
    <% end %>
  </div>
</div>
