<% provide(:title, "Create trees from online sources") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Extract names from online sources</h2>
    <%= form_for @con_link do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :uri, "(*) URL " %>
        <%= f.text_field :uri, class: "form-control", style: "margin-bottom: 30px;" %>      
        <%= f.label :name, "(*) Enter a name for this list" %>
        <%= f.text_field :name, class: "form-control", style: "width: 50%;margin-bottom: 20px;" %>
      
        <%= f.label :description, "Description" %>
        <%= f.text_area :description, class: "form-control", style: "width: 50%;margin-bottom: 20px;" %>
        
        </div>
      <%= f.submit "Get list", class: "btn btn-default btn-lg btn-primary" %>
    <% end %>
  </div>
</div>
