<% provide(:title, "Create trees from files or online sources") %>

<h1>Choose a way to extract a list of names from a resources</h1>
  
<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <h2>Extract from web page</h2>
    <%= form_for @con_link do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.text_field :uri, class: "form-control", placeholder: "URL" %>
      </div>
      <%= f.submit "Extract names from web page", class: "btn btn-default btn-lg btn-block" %>
    <% end %>
  </div>
  
  <div class="col-md-4 col-md-offset-2">
    <h2>Extract from file</h2>
    <%= form_for @con_file do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.file_field :uri, class: "form-control", placeholder: "URL" %>
      </div>
      <%= f.submit "Extract names from file", class: "btn btn-default btn-lg btn-block" %>
    <% end %>
  </div>
</div>