<% provide(:title, "Create trees from pre-compiled list of species") %>

<div class="col-md-8 col-md-offset-2">
  <h2>I have a list to upload</h2>
  <%= form_for @uploaded_list, url: uploaded_lists_path, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group", style="margin-bottom: 30px; margin-top: 30px;">
      <%= f.file_field :file, class: "input-file" %>
      <div style="margin-bottom: 20px;">Note: please compress your files in one ZIP file. You can find a default template <%= link_to "here", "https://drive.google.com/file/d/0B7SKJwE3SsCsNUhYQWdEVzk2RFE/view?usp=sharing"%></div>
      
      <!-- <%= f.label :public do %>
        <%= f.check_box :public, class: "input-file" %>
        Allow others to watch this list
      <% end %>
       -->
        
      <%= f.label :name, "Enter a name for this list" %>
      <%= f.text_field :name, class: "form-control", style: "width: 50%;margin-bottom: 30px;" %>
        
      <%= f.label :description, "Description" %>
      <%= f.text_area :description, class: "form-control", style: "width: 50%;margin-bottom: 30px;" %>
      
      <%= f.submit "Submit my list", class: "btn btn-primary btn-lg" %>
    </div>
  <% end %>
</div>
