<div class="container col-sm-4 col-sm-offset-4 well session-view">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-horizontal" }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group">
      <div class="col-xs-12">
        <%= f.label :email %>
      </div>
      <div class="col-xs-12">
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="actions align-right">
      <%= f.submit "Reset password", class: "btn btn-primary" %>
    </div>
  <% end %>

  <hr>
  
  <%= render "users/shared/links" %>
</div>