<% provide(:title, "Gallery") %>

<% if @trees.empty? %>
  <p class="bg-info">You are having no tree in gallery. May be you should take a look of some trees <%= link_to "in here", explore_trees_path %> first.</p>
<% end %>

<div class="slider-for">
  <% @trees.each do |t| %>
    <% if t.image.exists? %>
      <%= render partial: "trees/slider_for_each", locals: { t: t, photo: t.image.url } %>
    <% else %>
      <% case t.status %>
      <% when "extracting" %>
        <%= render partial: "trees/slider_for_each", locals: { t: t, photo: "extracting.gif" } %>
      <% when "extracted" %>
        <%= render partial: "trees/slider_for_each", locals: { t: t, photo: "extracting.gif" } %>
      <% when "resolving" %>
        <%= render partial: "trees/slider_for_each", locals: { t: t, photo: "extracting.gif" } %>
      <% when "resolved" %>
        <%= render partial: "trees/slider_for_each", locals: { t: t, photo: "resolved.png" } %>
      <% when "constructing" %>
        <%= render partial: "trees/slider_for_each", locals: { t: t, photo: "resolved.png" } %>
      <% when "completed" %>
        <%= render partial: "trees/slider_for_each", locals: { t: t, photo: "resolved.png" } %>
      <% else %>
        <%= render partial: "trees/slider_for_each", locals: { t: t, photo: "error.gif" } %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="slider-nav">
  <% @trees.each do |t| %>
    <div class="slider-nav-tree-info"> 
      <div>          
        <table class="table table-condensed">
          <tbody>
            <% begin %>
              <% source = t.raw_extraction.contributable %>
              <% case source %>
              <% when ConLink %>
                <tr><td>URI</td><td><%= source.uri %></td></tr>
              <% when ConFile %>
                <tr><td>File</td><td><%= source.document.original_filename %></td></tr>
              <% when ConTaxon %>
                <% case source.specific %>
                <% when SelectionTaxon %>
                  <tr><td>Taxon</td><td><%= source.name %></td></tr>
                  <tr><td>Number of species</td><td><%= source.nb_species %></td></tr>
                  <tr><td>By</td><td><%= source.criterion %></td></tr>
                <% when SubsetTaxon %>
                  <tr><td>Taxon</td><td><%= source.name %></td></tr>
                  <tr><td>Has genome in NCBI</td><td><%= source.has_genome_in_ncbi %></td></tr>
                  <tr><td>In country</td><td><%= source.country.name %></td></tr>
                <% else %>
                  <tr><td>Taxon</td><td><%= source.name %></td></tr>
                <% end %>
              <% end %>
            <% rescue %>
              <%= "" %>
            <% end %>
            </tr>
          </tbody>
        </table>
      </div> 
    </div> 
  <% end %>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.slider-for').slick({
   slidesToShow: 1,
   slidesToScroll: 1,
   arrows: false,
   fade: true,
   asNavFor: '.slider-nav'
 });
 
 $('.slider-nav').slick({
   slidesToShow: 3,
   slidesToScroll: 1,
   asNavFor: '.slider-for',
   dots: true,
   centerMode: true,
   focusOnSelect: true
 });
 
});
</script>