<% provide(:title, "Gallery") %>

<div style="">
  <% if @trees.empty? %>
    <p class="bg-info">You have no trees in gallery. Maybe you should take a look at some examples in here <%= link_to "in here", explore_trees_path %> first.</p>
  <% else %>
    <div id="carousel">
      <% @trees.each do |t| %>
        <div id="tree-id-<%= t.id %>" class="cloud9-item">
          <%= image_tag t.image %>
          <div class="tree-description center hide">
            <%= t.description %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="buttons" class="center row">
      <div class="col-sm-2">
        <%= link_to "Back to tree viewer", trees_path, class: "btn btn-default btn-lg" %>
      </div>
      <button class="left btn btn-default btn-lg col-sm-1 col-sm-offset-2">
        ←
      </button>
      <nav class="navbar navbar-default col-sm-2">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu action-nav">
                  <li><a href="#" id="add-caption">Add caption to tree</a></li>
                  <li><a href="#">Add to Public Gallery</a></li>
                  <li><a href="#" id="download-image">Save image to disk</a></li>
                  <li><a href="#">Share on social media</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <button class="right btn btn-default btn-lg col-sm-1">
        →
      </button>
      <div class="col-sm-2 col-sm-offset-2">
        <%= link_to "Public gallery", public_gallery_trees_path, class: "btn btn-default btn-lg" %>
      </div>
    </div>
  <% end %>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="add-caption-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add caption to tree</h4>
      </div>
      <%= form_tag(update_description_trees_path, remote: true) do -%>
        <div class="modal-body">
          <div>
            <%= hidden_field_tag 'id', nil, id: "tree-id" %>
            <%= text_area_tag 'description', nil, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Save changes", class: "btn btn-primary" %>
        </div>
      <% end -%>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="download-tree">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Save to disk</h4>
      </div>
      <div class="modal-body">
        <div>
          <%= link_to "Save image", nil, id: "down-image-link" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
$(document).ready(function(){
  $("#carousel").Cloud9Carousel( {
    buttonLeft: $("#buttons > .left"),
    buttonRight: $("#buttons > .right"),
    autoPlay: 0,
    bringToFront: true,
    onRendered: function( carousel ) {
      var item = $("#carousel"  ).data("carousel").nearestItem();
      $(".tree-description").addClass("hide");
      $('#' + item.element.id).find(".tree-description").removeClass("hide");
    }
  });
  
  $('#add-caption').click(function() {
    $('#add-caption-modal').modal();
    obj = $("#carousel").data("carousel").nearestItem();
    $("input[id=tree-id]").val(obj.element.id.match(/\d+/g)[0]);
    return false;
  });
  
  $('#download-image').click(function() {
    $('#download-tree').modal();
    obj = $("#carousel").data("carousel").nearestItem();
    $('#down-image-link').attr("href", "<%= download_image_trees_path %>" + "?id=" + obj.element.id.match(/\d+/g)[0]);
    return false;
  })
});
</script>