<% species = resolved_names.map { |n| n["matched_name"] } %>
<% species = species.sort %>

<% if species.empty? %>
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab" id="tab-name"><%= name %></a></li>
      <li role="presentation"><a href="#metadata" aria-controls="metadata" role="tab" data-toggle="tab">Metadata</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="content">
        <p class="chosing-species">No species</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="metadata">
        <div>
        </div>
      </div>
    </div>
  </div>
<% else %>
    
  <div class="col-md-9" id="ra-content">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab" id="tab-name"><%= name %></a></li>
      <li role="presentation"><a href="#metadata" aria-controls="metadata" role="tab" data-toggle="tab">Metadata</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="content">
        <%= render partial: "trees/tree_form", locals: {ra: ra, species: species} %>
        
        <% unless unresolved.empty? %>
          <hr>
          <h4>Unmatched names</h4>
          <strong>Edit name as desired, then click the 'Search' button to look for matches</strong>
          <div class="">
            <div> 
              <div class="row"> 
                <div class="col-sm-4">Vernacular Name (*)</div>
                <div class="col-sm-5">Scientific Name (*)</div>
                <div class="col-sm-2"></div>
              </div> 
            </div>
            <div>
              <% @list["list"]["list_species"].each_with_index do |s, i| %>
                <% if unresolved.include? s["scientific_name"] %>
                  <div class="row danger">
                    <%= form_tag({controller: 'uploaded_lists', action: 'update_a_species', id: @list["list"]["list_id"]}, method: "post", remote: true, class: "fix-names") do %>
                      <div class="col-sm-4"><%= text_field_tag 'species[' + i.to_s + '][vernacular_name]', s["vernacular_name"], class: "form-control"%></div>
                      <div class="col-sm-5"><%= text_field_tag 'species[' + i.to_s + '][scientific_name]', s["scientific_name"], class: "form-control" %></div>
                      <%= hidden_field_tag 'species[' + i.to_s + '][old]', s["scientific_name"] %>
                      <div class="col-sm-2">
                        <%= submit_tag "Search", class: "btn btn-default"%>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="metadata">
        <% data = @list["list"] %>
        <div class="metadata-wrapper">
          <div class="row">
            <div class="col-sm-3">Title</div>
            <div class="col-sm-9"><%= data["list_title"] %></div>
          </div>
          <div class="row">
            <div class="col-sm-3">Description</div>
            <div class="col-sm-9"><%= data["list_description"] %></div>
          </div>
          <!-- <div class="row">
            <div class="col-sm-3">Public</div>
            <div class="col-sm-9"><%= data["is_list_public"] %></div>
          </div> -->
          <!-- <div class="row">
            <div class="col-sm-3">List origin</div>
            <div class="col-sm-9"><%= data["list_origin"] %></div>
          </div> -->
          <div class="row">
            <div class="col-sm-3">Keywords</div>
            <div class="col-sm-9">
              <ul>
                <% data["list_keywords"].each do |d| %>
                  <li><%= d %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">Author</div>
            <div class="col-sm-9">
              <% data["list_author"].each do |d| %>
                <p><%= d %></p>
              <% end %>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-sm-3">Public</div>
            <div class="col-sm-9"><%= data["list_species"] %></div>
          </div> -->
          <div class="row">
            <div class="col-sm-3">Curation date</div>
            <div class="col-sm-9"><%= data["list_curation_date"] %></div>
          </div>
          <div class="row">
            <div class="col-sm-3">Curator</div>
            <div class="col-sm-9"><%= data["list_curator"] %></div>
          </div>
          <div class="row">
            <div class="col-sm-3">Date published</div>
            <div class="col-sm-9"><%= data["list_date_published"] %></div>
          </div>
          <div class="row">
            <div class="col-sm-3">Extra info</div>
            <div class="col-sm-9"><%= data["list_extra_info"] %></div>
          </div>
          <div class="row">
            <div class="col-sm-3">Focal clade</div>
            <div class="col-sm-9"><%= data["list_focal_clade"] %></div>
          </div>
          <div class="row">
            <div class="col-sm-3">List source</div>
            <div class="col-sm-9"><%= data["list_source"] %></div>
          </div>
        </div>
        
       <!-- End of tab metadata   -->
      </div>
    <!-- End of tab panel -->
    </div>
  <!-- ra-content -->
  </div>

  <div class="col-md-3">
    <div id="nav-list">
      <% if nav_pub_list %>
        <%= render partial: 'raw_extractions/nav_list_publish', 
                                    locals: { ra: ra,
                                              resolved_names: resolved_names} %>
      <% else %>
        <%= render partial: 'raw_extractions/nav_list', locals: { ra: ra, resolved_names: resolved_names} %>
      <% end %>
    </div>
    <%= render partial: "raw_extractions/creation_nav" %>  
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
  $(".species-cb").click(function() {
    event.stopPropagation();
    if($(this).is(':checked')) {
      $(this).siblings("input[type='checkbox']").attr('checked', false);
      $(this).parents(".species-row").addClass("success");
    } else {          
      $(this).siblings("input[type='checkbox']").attr('checked', true);
      $(this).parents(".species-row").removeClass("success");
    }
  });
  
  $(".species-row").click(function(event) {
    $(this).find('.species-cb').click();
  });
  
  $("#species-toggle-all-cb").click(function() {
    if($(this).is(':checked')) {
      for(i=0; i<$(".species-cb").length; i++) {
        if( !$($(".species-cb")[i]).is(':checked') ) {
          $($(".species-cb")[i]).click();
        }
      }
    } else {
      for(i=0; i<$(".species-cb").length; i++) {
        if( $($(".species-cb")[i]).is(':checked') ) {
          $($(".species-cb")[i]).click();
        }
      }
    }
  })
  
  $(".fix-names").find("input[type='submit']").click(function() {
    $(this).parents(".fix-names").submit();
    $(this).replaceWith("<img class='center' width=60 src='<%= image_path("loading-icon.gif") %>'>");
  })
  
})

</script>