<div class="center" style="margin-top: 40px;">
  <p>Process failed because <%= @uploaded_list.reason %></p>

  <%= link_to "Re-upload", "#", "data-toggle": "modal", "data-target": "#reup-#{@uploaded_list.id}", class: "btn btn-primary" %>

  <%= link_to "Delete", @uploaded_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

  <div class="modal fade" id="reup-<%= @uploaded_list.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"> 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> 
          <h3 class="modal-title center" id="myModalLabel">Re-upload</h3>
        </div>
        <%= form_for @uploaded_list, method: :patch, html: { multipart: true } do |f| %>
          <div class="modal-body">
            <div class="form-group">
              <div id="drop-zone">
                Drop files here...
                <div id="clickHere">
                  or click here..
                  <%= f.file_field :file, class: "input-file" %>
                </div>
              </div>
              <div id="chosen_file"></div>
            
              <div>Note: please compress your files in one ZIP file. You can find a default template <%= link_to "here", "https://drive.google.com/file/d/0B7SKJwE3SsCsNUhYQWdEVzk2RFE/view?usp=sharing"%></div>

              <%= f.label :public do %>
                <%= f.check_box :public, class: "input-file" %>
                Allow others to watch this list
              <% end %>

            </div>
          </div>
          <div class="modal-footer"> 
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
            <%= f.submit "Submit my list", class: "btn btn-default btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(drag_and_drop());

</script>