<div id="job-content-Hash-<%= list["list"]["list_id"] %>" class="">
  <table class="table">
    <tr>
      <th>Title</th>
      <td><%= list["list"]["list_title"] %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= list["list"]["list_description"] %></td>
    </tr>
    <tr>
      <th>Curator</th>
      <td><%= list["list"]["list_curator"] %></td>
    </tr>
    <tr>
      <th>Curation date</th>
      <td><%= list["list"]["list_curation_date"] %></td>
    </tr>
    <tr>
      <th>List Source</th>
      <td><%= list["list"]["list_source"] %></td>
    </tr>
    <tr>
      <th>List Focal Clade</th>
      <td><%= list["list"]["list_focal_clade"] %></td>
    </tr>
    <tr>
      <th>Author</th>
      <td><%= list["list"]["list_author"].join(" ,") %></td>
    </tr>
    <tr>
      <th>Date published</th>
      <td><%= list["list"]["list_date_published"] %></td>
    </tr>
    <tr>
      <th>Available Action</th>
      <td>
        <%= link_to "Generate a new tree", new_tree_path(ra: uploaded_list.raw_extraction.id), class: "btn btn-primary" if uploaded_list.raw_extraction.build_tree? %>
        <%= link_to "Remove", uploaded_list_path(uploaded_list.id), method: :delete, class: "btn btn-danger", data: {confirm: "Removing a job will also delete all trees belonging to that job. Are you sure?"} %>
      </td>
    </tr>
  </table>
  <%= render partial: "trees/trees_of_job", locals: {j: uploaded_list} %>
</div>