<% names = JSON.parse(ra.extracted_names)["scientificNames"] %>
<% unresolved = [] %>

<% names.each do |n| %>
  <% flag = false %>
  <% resolved_names.each do |r| %>
    <% if r.key?("matched_results") %>
      <% if r["matched_results"][0]["matched_name"] == n %>
        <% flag = true %>
      <% end %>
    <% else %>
      <% if r["matched_name"] == n %>
        <% flag = true %>
      <% end %>
    <% end %>
    <% break %>      
  <% end %>
  <% unresolved << n if !flag %>
<% end %>

<% if ra.contributable.public %>
  <% list = get_a_public_list(ra.contributable.lid) %>
<% else %>
  <% list = get_a_list(ra.contributable.lid) %>
<% end %>

<% unless unresolved.empty? %>
  <hr>
  <h4>Unmatched names</h4>
  <strong>Edit name as desired, then click the 'Search' button to look for matches</strong>
  <div class="">
    <div> 
      <div class="row"> 
        <div class="col-sm-4">Vernacular Name (*)</div>
        <div class="col-sm-5">Scientific Name (*)</div>
        <div class="col-sm-2"></div>
      </div> 
    </div>
    <div>
      <% list["list"]["list_species"].each_with_index do |s, i| %>
        <% if unresolved.include? s["scientific_name"] %>
          <div class="row danger">
            <%= form_tag({controller: 'uploaded_lists', action: 'update_a_species', id: list["list"]["list_id"]}, method: "post", remote: true, class: "fix-names") do %>
              <div class="col-sm-4"><%= text_field_tag 'species[' + i.to_s + '][vernacular_name]', s["vernacular_name"], class: "form-control"%></div>
              <div class="col-sm-5"><%= text_field_tag 'species[' + i.to_s + '][scientific_name]', s["scientific_name"], class: "form-control" %></div>
              <%= hidden_field_tag 'species[' + i.to_s + '][old]', s["scientific_name"] %>
              <div class="col-sm-2">
                <%= submit_tag "Search", class: "btn btn-default"%>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>


