<% provide(:title, "Upload Darwin Core Archive file") %>

<div class="col-md-8 col-md-offset-2">
  <h2>Choose DCA file (.zip, click <%= link_to "here", "/template.zip"%> for sample)</h2>
  <%= form_for @uploaded_list, url: uploaded_lists_path, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <p>You can drag and drop your file into this box</p>
    <div class="form-group" id="drop-zone">
      Drop files here...
      <div id="clickHere">
        or click here..
        <%= f.file_field :file, class: "input-file" %>
      </div>
    </div>
    <div id="chosen_file"></div>
    
    <%= f.submit "Upload", class: "btn btn-primary btn-lg" %>
  <% end %>
</div>


<script type="text/javascript">
$(document).ready(drag_and_drop());

</script>