<% provide(:title, "Prebuilt list: " + @title) %>

<h2><%= @title %></h2>

<% if @res %>
  <% species = JSON.parse(@res)["species"] %>
  <table class="table table-striped table-bordered">
    <thead> 
      <tr> 
        <th>#</th>
        <th>Vernacular Name</th>
        <th>Scientific Name</th>
        <th>Family</th>
        <th>Order</th>
        <th>Phylum</th>
        <th>Nomenclature Code</th>
      </tr> 
    </thead>
    <tbody>
      <% species.each_with_index do |s, i| %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= s["vernacular_name"] %></td>
          <td><%= s["scientific_name"] %></td>
          <td><%= s["family"] %></td>
          <td><%= s["order"] %></td>
          <td><%= s["phylum"] %></td>
          <td><%= s["nomenclature_code"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= render partial: "trees/tree_form", locals: {tree: @tree, resolved_names: @resolved_names["resolvedNames"]} %>
<% else %>
  <p>Please be patient, it is coffee time :p</p>
<% end %>
