<% provide(:title, "Taxon sampler") %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag :action=>"create", :controller=>"con_taxons", method: :post do %>
      <h2>Choose from a taxon</h2>
      
      <div class="taxon-field" style="width: 50%">
        <%= label_tag "taxon", "(*) Taxon name"%>
        <%= text_field_tag 'taxon', nil, class: "form-control" %>
      </div>
  
      <div class="taxon-field" style="width: 50%">
        <%= label_tag "name", "(*) Enter a name for this list"%>
        <%= text_field_tag 'name', nil, class: "form-control" %>
      </div>
        
      <div class="taxon-field">
        <%= label_tag "description", "Description" %>
        <%= text_area 'description', nil, class: "form-control", style: "width: 50%" %>      
      </div>  
      
      <div class="taxon-field">
        Subset by
        <div class="row taxon-opts">
          <div class="col-sm-1">
            <%= check_box_tag :location, true, false %>
          </div>
          <div class="col-sm-2">
            Location 
          </div>
          <div class="col-sm-4">
            <%= select_tag :country_id, options_from_collection_for_select(Country.all, "id", "name"), { class: "form-control" } %>
          </div>
        </div>
      
        <div class="row taxon-opts">
          <div class="col-sm-1">
            <%= check_box_tag :has_genome_in_ncbi, true, false %>
          </div>
          <%= label_tag :has_genome_in_ncbi, "Has genome sequence in NCBI", class: "col-sm-4" %>
        </div>
        
        <div class="row taxon-opts">
          <div class="col-sm-1">
            <%= check_box_tag :check_nb_species, true %>
          </div>
          <div class="col-sm-3">
            Random subset of
          </div> 
          <div class="col-sm-4">
            <%= select_tag :nb_species, options_for_select([10, 20, 30]), { class: "form-control" } %>
          </div>
        </div>
      </div>
      <%= submit_tag "Get list", class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>