<% provide(:title, "Create trees from files") %>  
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Extract names from my document (.pdf, .txt, .doc, .docs, .xls or .xlsx)</h2>
    <%= form_for @con_file do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= f.label :document do %>
          <span class="red">*</span> Choose a document or drop your file into box
        <% end %>
          
        <div id="drop-zone">
          Drop files here...
          <div id="clickHere">
            or click here..
            <%= f.file_field :document, class: "input-file" %>
          </div>
        </div>
        <div id="chosen_file"></div>
      
        <%= f.label :name do %>
          <span class="red">*</span> Enter a name for this list
        <% end %>
        
        <%= f.text_field :name, class: "form-control", style: "width: 50%;margin-bottom: 20px;" %>
      
        <%= f.label :description, "Description" %>
        <%= f.text_area :description, class: "form-control", style: "width: 50%;margin-bottom: 20px;" %>
      
        <%= f.label :method, "Method" %>
        <%= select "con_file", "method", options_for_select({"NetiNeti & TaxonFinder": 0, "NetiNeti": 2, "TaxonFinder": 1}), {}, { class: "form-control", style: "width: 200px;margin-bottom: 20px;" } %>
      </div>  
      <%= f.submit "Get list", class: "btn btn-default btn-lg btn-primary" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(drag_and_drop());

</script>