<ul class="footer">  
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "About", static_pages_about_path %></li>
  <li><%= link_to "FAQ", static_pages_faq_path %></li>
  <li><%= link_to "Videos", static_pages_faq_path %></li>
  <li><%= link_to "Gallery", static_pages_faq_path %></li>
  <li><%= link_to "Feedback", static_pages_faq_path %></li>
</ul>