<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <%= stylesheet_link_tag 'http://phylo.cs.nmsu.edu:8080/TreeViewer/demo/ete.css' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
  
    <div id="flash">
      <%= render 'layouts/flash' %>
    </div>
  
    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>

<script type="text/javascript">
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
  });
</script>
