<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52568827-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52568827-4');
    </script>

    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= action_cable_meta_tag %>
    
    <%= stylesheet_link_tag Rails.configuration.x.ete_css %>
  </head>

  <body>
    <%= render 'layouts/header' %>
  
    <div id="flash">
      <%= render 'layouts/flash' %>
    </div>
  
    <%= yield %>

    <%= render 'layouts/footer' %>
    
  </body>
</html>

<script type="text/javascript">
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
  });
</script>
